<template name="landing">
    <div id='landing' class="main container-fluid">
        <nav id="topnav" class="navbar navbar-default"
             style="color:white; background: #006699;padding:0px;margin:0px;margin-top: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:white" class="navbar-brand" href="{{homeUrl}}"><i style="color:cyan" class="fa fa-home fa-1x" aria-hidden="true"></i></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.doc.gov/"><span style="color:white">U.S. Department of Commerce</span></a>
                    </li>
                    <li><a href="http://www.noaa.gov/"><span style="color:white">National Oceanic and Atmospheric Administration</span></a>
                    </li>
                    {{#if isMats}}
                        <li><a href="http://www.research.noaa.gov/"><span style="color:white">NOAA Research</span></a>
                        </li>
                    {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <nav id="topnav1" class="navbar navbar-default"
             style="color:white; background: #000066;padding:0px;margin:0px;margin-top: 0px;margin-bottom: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <a class="nav navbar-nav navbar-left" href="#"><img src="{{transparentGif}}" alt="NOAA"
                                                                    style="max-height:80%; max-width:80%;"></a>
                <ul class="nav navbar-nav">
                    <li>
                        <div>
                            {{#if isNWS}}
                                <a href="http://www.weather.gov/"><span style="color:white;font-size: large;">National Weather Service</span></a><br>
                            {{/if}}
                            {{#if isMats}}
                                <a href="http://esrl.noaa.gov/"><span style="color:white;font-size: large;">Earth System Research Laboratory</span></a><br>
                                <a href={{homeUrl}}><span
                                        style="color:white;font-size: medium;">Model Analysis Tool Suite (MATS)</span></a><br>
                            {{/if}}
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="font-size: small" href="{{homeUrl}}"><span style="color:white">Home</span></a></li>
                    <li><a style="font-size: small" href="mailto:mats.gsd@noaa.gov?Subject=Feedback from mats">
                        <span style="color:white">Contact</span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div style="background-color: #dddddd;" class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                {{#if noGroups}}
                    <h1> There are no apps defined.</h1>
                    <h3>Check /usr/app/settings</h3>
                {{/if}}
                {{#each group in groups}}
                    <div class="container" id="{{groupName}}" style="display:{{groupIsVisible}};">
                        <ul class="nav navbar-nav navbar-left" style="margin-bottom: 1%;">
                            <h3>{{group.groupName}}:</h3>
                            {{#each app in group.appList}}
                                <li id="{{appReference}}">
                                    <a class="btn-sm btn-primary {{appDisabled}}" type="button"
                                       style="display:inline-block;font-size:medium; background-color: {{color
                                               app}}; font-weight: bold; border-radius:10px;"
                                       href="{{baseUrl}}/{{appReference app}}">{{title app}}</a>
                                </li>
                            {{/each}}
                        </UL>
                    </div>
                {{/each}}
            </ul>
        </div>
        <nav id="footnav" class="container-fluid navbar navbar-default"
             style="background-color: #dddddd;display: block;padding:0px; margin:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-3" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-3"
                 style="background-color: #dddddd;padding:0px; margin:0px;">
                <ul class="nav navbar-nav" style="background-color: #dddddd;padding:0px; margin:0px;">
                    <li><a href="http://www.noaa.gov/privacy.html" class="navbar-link"
                           style="padding:0px;margin-right:1em;">NOAA Privacy Statement</a></li>
                    <li><a href="http://esrl.noaa.gov/gsd/accessibility.html" class="navbar-link"
                           style="padding:0px;margin-right:1em;">Web Accessibility Statement</a></li>
                    <li><a href="http://www.noaa.gov/disclaimer.html" class="navbar-link"
                           style="padding:0px;margin-right:1em;">Disclaimer for External Links</a></li>
                    <li><a href="http://www.noaa.gov/" class="navbar-link"
                           style="padding:0px;margin-right:1em;">NOAA</a></li>
                    <li><a href="http://www.commerce.gov/" class="navbar-link" style="padding:0px;margin-right:1em;">U.S.
                        Department of Commerce</a></li>
                    {{#if isMats}}
                        <li><a href="http://research.noaa.gov/" class="navbar-link"
                               style="padding:0px;margin-right:1em;">NOAA Research</a></li>
                        <li><a href="http://esrl.noaa.gov/" class="navbar-link" style="padding:0px;margin-right:1em;">Earth
                            System Research Laboratory</a></li>
                        <li><a href="http://esrl.noaa.gov/gsd/" class="navbar-link"
                               style="padding:0px;margin-right:1em;">Global Systems Division</a></li>
                    {{/if}}
                    <li><a href="mailto:webmaster.hiwpp@noaa.gov" class="navbar-link"
                           style="padding:0px;margin-right:1em;">Contact the Webmaster</a></li>
                    <li><a href="/" class="navbar-link" style="padding:0px;margin-right:1em;"> env: {{environment}} </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- main -->
    <!-- footer -->
</template>
