{{ define "apps.html" }}

<div class="container-fluid pb-3 bg-white">
  {{ range .Groups }}
  <div class="container-fluid pt-3 appgroup collapse show">
    <h4>
      {{ .Name }}
    </h4>
    <div class="row row-cols-auto">
    {{ range .Apps }}
      {{ if eq .Kind "MATS" }}
        <div class="collapse show multi-collapse col p-1 collapseMATS">
          <a class="btn btn-primary" role="button" href="{{.Link}}"> {{.Title}} </a>
        </div>
        {{ else if eq .Kind "METexpress" }}
        <div class="collapse show multi-collapse col p-1 collapseMETexpress">
          <a class="btn btn-secondary" role="button" href="{{.Link}}"> {{.Title}} </a>
        </div>
        {{ else if eq .Kind "MATScb" }}
        <div class="collapse show multi-collapse col p-1 collapseMATScb">
          <a class="btn btn-info" role="button" href="{{.Link}}"> {{.Title}} </a>
        </div>
      {{ end }}
    {{ end }}
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
