{{ define "index.html" }}
<!-- index -->
<!DOCTYPE html>
<html lang="en">
  {{ template "header.html" . }}
  <body>
    <main id="main" class="container-fluid bg-white w-100 m-0 p-0">
      <a style="display: none" href="#main-content">Skip to main content</a>
      {{ template "navbar.html" . }}

      {{ if .Config.AlertMessage }}
        {{ template "alert.html" . }}
      {{ end }}

      {{ if .Config.IsMETexpress }}
      {{ else }}
        {{ template "toggles.html" . }}
      {{ end }}

      {{ template "apps.html" . }}

      {{ if .Config.IsMETexpress }}
        {{ template "metexpress-footer.html" . }}
      {{ else }}
        {{ template "mats-footer.html" . }}
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
