{{ define "mats-footer.html" }}
<footer class="footer">
  <div id="footer" class="container-fluid" style="background-color: #dddddd; margin-top: 1.5em !important;">
    <nav id="footnav" class="navbar navbar-expand-sm">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse-3"
          aria-expanded="false"
          aria-label="Toggle footer navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbar-collapse-3"
        style="background-color: #dddddd"
      >
        <ul class="nav navbar-nav" style="background-color: #dddddd">
          <li class="navbar-item">
            <a
              href="http://www.noaa.gov/privacy"
              class="nav-link"
              target="_blank"
              style="color: black"
              >NOAA Privacy Statement</a
            >
          </li>
          <li class="navbar-item">
            <a
              href="http://www.noaa.gov/accessibility"
              class="nav-link"
              target="_blank"
              style="color: black"
              >Web Accessibility Statement</a
            >
          </li>
          <li class="navbar-item">
            <a
              href="http://www.noaa.gov/disclaimer"
              class="nav-link"
              target="_blank"
              style="color: black"
              >Disclaimer for External Links</a
            >
          </li>
          <li class="navbar-item">
            <a
              href="http://www.noaa.gov/"
              class="nav-link"
              target="_blank"
              style="color: black"
              >NOAA</a
            >
          </li>
          <li class="navbar-item">
            <a
              href="http://www.commerce.gov/"
              class="nav-link"
              target="_blank"
              style="color: black"
              >U.S. Department of Commerce</a
            >
          </li>
          <li class="navbar-item">
            <a
              href="http://research.noaa.gov/"
              class="nav-link"
              target="_blank"
              style="color: black"
              >NOAA Research</a
            >
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
</footer>
<!-- footer -->
{{ end }}
