{{ define "metexpress-footer.html" }}
<footer class="footer">
  <div id="footer" class="container-fluid" style="background-color: #dddddd">
    <nav id="footnav" class="navbar navbar-expand-sm">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse-3"
          aria-expanded="false"
          aria-label="Toggle footer navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="collapse navbar-collapse"
        id="navbar-collapse-3"
        style="background-color: #dddddd"
      >
        <ul class="nav navbar-nav" style="background-color: #dddddd">
          <li class="navbar-item">
            <a href="https://www.noaa.gov/privacy" class="nav-link">Privacy</a>
          </li>
          <li class="navbar-item">
            <a href="https://www.noaa.gov/accessibility" class="nav-link"
              >Accessibility</a
            >
          </li>
          <li class="navbar-item">
            <a href="https://www.noaa.gov/disclaimer" class="nav-link">Disclaimer</a>
          </li>
          <li class="navbar-item">
            <a href="https://www.noaa.gov/" class="nav-link">NOAA</a>
          </li>
          <li class="navbar-item">
            <a href="https://gsl.noaa.gov/" class="nav-link"
              >Global Systems Laboratory</a
            >
          </li>
          <li class="navbar-item">
            <a href="https://weather.noaa.gov/" class="nav-link"
              >National Weather Service</a
            >
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
</footer>
<!-- footer -->
{{ end }}
