{{ define "navbar.html" }}
<div id="navbar" style="margin-top: 1em;">
<nav class="navbar navbar-expand-sm" data-bs-theme="dark" style="background: #000066; color: white;">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-2" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">
			<img style="width:60px" class=" align-text-center" src="img/noaa-logo-rgb-2022.svg" alt="NOAA Logo">
				{{ if .METexpress }}
				<span class="fs-2">METexpress</span>
				{{ else }}
				<span class="fs-2">Model Analysis Tool Suite (MATS)</span>
				{{ end }}
				{{ if ne .Environment "Production"}}
				<span class="fs-6">{{.Environment}} Server</span>
				{{ else }}
				{{ end }}
		</a>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<!-- Create a navbar collection that's right justified -->
		<div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-2">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link"
						style="font-size: medium"
						href="mailto:mats.gsl@noaa.gov?Subject=Feedback from MATS user"
						><span>Contact Us</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.container-fluid -->
</nav>
</div>
{{ end }}