{{ define "navbar.html" }}
<div class="mt-3" id="navbar" style="margin-top: 0 !important">
  <nav
    id="officialUSABanner"
    class="navbar navbar-expand-sm"
    style="background: #ffffff; color: black; padding: 0em"
  >
    <div
      class="accordion"
      id="usaAccordion"
      style="height: 100%; padding-left: 2em; padding-right: 1em"
    >
      <div class="accordian-item">
        <header class="accordian-header" id="usaHeadingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#usaCollapseOne"
            aria-expanded="true"
            aria-controls="usaCollapseOne"
          >
            <div class="col-sm d-flex">
              <div>
                <p style="margin: 0; padding: 0">
                  <img
                    style="width: 15px"
                    src="img/us_flag_small.png"
                    alt="U.S. flag"
                  />&nbsp;
                  <span style="font-size: small"
                    >An official website of the United States government.&nbsp;
                    <span style="color: #005ea2; text-decoration: underline"
                      >Here's how you know</span
                    >
                  </span>
                </p>
              </div>
            </div>
          </button>
        </header>
      </div>
    </div>
    <div
      id="usaCollapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="usaHeadingOne"
      data-bs-parent="#usaAccordion"
    >
      <div style="display: flex; width: 100%">
        <div style="width: 50%; padding: 2em">
          <img style="width: 25px" src="img/icon-dot-gov.svg" alt="Secure Site Icon" />
          <small
            ><strong>Official websites use .gov</strong><br />A
            <strong>.gov</strong> website belongs to an official government organization
            in the United States.</small
          >
        </div>
        <div style="width: 50%; padding: 2em">
          <img style="width: 25px" src="img/icon-https.svg" alt="Secure Site Icon" />
          <small>
            <strong>Secure .gov websites use HTTPS</strong>
            <br />
            A <strong>lock</strong> (
            <i class="fa-solid fa-lock" alt="lock icon"></i>
            ) or <strong>https://</strong> means you’ve safely connected to the .gov
            website. Share sensitive information only on official, secure websites.
          </small>
        </div>
      </div>
    </div>
  </nav>
  <nav
    class="navbar navbar-expand-sm"
    data-bs-theme="dark"
    style="background: #000066; color: white"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="row">
          <div class="col-3" style="text-align: center;">
            <img
              style="height: 100%;"
              class="align-text-center"
              src="img/noaa-logo-rgb-2022.svg"
              alt="NOAA Logo"
            />
          </div>
          <div class="col-9">
            {{ if .Config.IsMETexpress }}
            <span style="font-size: 1vh;">National Weather Service</span>
            {{ else }}
            <span style="font-size: 1vh;">Global Systems Laboratory</span>
            {{ end }}<br/>{{ if .Config.IsMETexpress }}
            <span style="font-size: 2vh;">METexpress</span>
            {{ else }}
            <span style="font-size: 2vh;">Model Analysis Tool Suite (MATS)</span>
            {{ end }} {{ if .Config.EnvironmentLabel }}
            <span class="d-none d-lg-block" style="font-size: 1vh;">{{ .Config.EnvironmentLabel }} Server</span>
            {{ else }} {{ end }}
          </div>
        </div>
      </a>
    </div>
  </nav>
  <div
    id="disclaimerBar"
    class="alert alert-info"
    style="color: black; margin: 0; border-radius: 0%; background-color: #d9edf7"
  >
    PLEASE NOTE: The information on this website is for RESEARCH PURPOSES ONLY. No data
    from this site should be used to make decisions related to the safety of life and
    property. There is no guarantee that data will be updated or that any product will
    continue to be available.
  </div>
</div>
{{ end }}
