{{ define "toggles.html" }}

<div class="container-fluid py-3" style="background-color: #dddddd">
  <div class="container-fluid">
    <h3>Verification Methodology</h3>
    <div class="btn-group" role="group" aria-label="Radio toggle button group">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradioall"
        onclick="showAll()"
        checked
      />
      <label class="btn btn-outline-success" for="btnradioall">All</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradiomats"
        onclick="showSelector('.collapseMATS')"
      />
      <label class="btn btn-outline-primary" for="btnradiomats">GSL In-House</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradiometplus"
        onclick="showSelector('.collapseMETexpress')"
      />
      <label class="btn btn-outline-secondary" for="btnradiometplus">METplus</label>

      {{ if not .Config.IsProduction }}
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradiomatscb"
        onclick="showSelector('.collapseMATScb')"
      />
      <label class="btn btn-outline-info" for="btnradiomatscb">GSL In-House (Experimental)</label>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
