{{ define "toggles.html" }}

<div style="background-color: #dddddd; padding-bottom: 1em; padding-top: 1em" class="container-fluid">
    <div class="container-fluid">
        <h2>Verification Source</h2>
        <div class="btn-group" role="group" aria-label="Radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradioall" autocomplete="off" data-bs-toggle="collapse" data-bs-target=".multi-collapse" checked>
            <label class="btn btn-outline-success" for="btnradioall">All</label>
        
            <input type="radio" class="btn-check" name="btnradio" id="btnradiomats" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseMATS">
            <label class="btn btn-outline-primary" for="btnradiomats">MATS</label> 
            <!-- style="background-color#3366bb; border-radius:10px;" -->
        
            <input type="radio" class="btn-check" name="btnradio" id="btnradiometplus" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseMETplus">
            <label class="btn btn-outline-secondary" for="btnradiometplus">METplus</label>
            <!-- style="background-color: darkorchid; border-radius:10px;" -->
        </div>
    </div>
</div>

{{ end }}