<template name="paramList">
    <div id="paramList" class="clearfix  pull-left">
        <span>&nbsp;&nbsp;<i style="color: #4cae4c;" class="expand fa fa-plus"></i>&nbsp;<i style="color:#4cae4c;" class="collapse fa fa-minus"></i></span>
        <form id="paramForm" name="paramForm" novalidate>
            <div id="paramWell" class="clearfix well well-sm pull-left" style="background-blend-mode: lighten; background-color: {{paramWellColor}};">
            {{#each CurveParamGroups}}
                {{> curveParamGroup}}
            {{/each}}
            </div>
            {{#if isEdit}}
                <div class="row clearfix well-sm col-lg-12 pull-left btn-toolbar btn-group btn-lg" role="toolbar">
                    <button type="submit" name="save" id="save" class="btn btn-success fa fa-line-chart">&nbsp;&nbsp;Save Changes</button>
                    <button type="button" name="cancel" id="cancel" class="edit-cancel btn btn-info fa icon-remove-sign">&nbsp;&nbsp;Cancel</button>
                </div>
            {{else}}
                <div class="row clearfix well-sm col-lg-12 pull-left btn-toolbar btn-group btn-lg" role="toolbar">
                    <button type="submit" name="add" id="add" class="btn btn-success fa fa-line-chart">&nbsp;&nbsp;Add Curve</button>
                    <button type="button" name="restore" id="restore" class="restore-settings btn btn-success  fa fa-cloud-download">&nbsp;&nbsp;Restore Settings</button>
                    <button type="button" name="reset" id="reset" class="reset btn btn-success fa fa-refresh">&nbsp;&nbsp;Reset to Defaults</button>
                </div>
            {{/if}}
        </form>
    </div>
</template>