<template name="scatter2d">
    <div id={{plotType}} class="container-fluid" style="display:{{displayScatter2d}};">
        <span style="font-size:large; font-weight: bold;">{{title}}&nbsp;&nbsp;</span>
        {{#each scatter2dParams}}
            {{#each scatter2dOptions}}
                <input class="data-input radio-group" type=radio name="{{name ..}}" id={{id ..}} value="{{this}}" {{isDefault ..}}/>
                <label for="{{id ..}}">{{this ..}}</label>
            {{/each}}
            <div class="btn-toolbar btn-group btn-xs" role="toolbar">
                <button type="submit" name="apply-params-to-axis" id="apply-params-to-axis" class="btn btn-success apply-params-to-axis fa fa-line-chart">&nbsp;&nbsp;Apply to Axis</button>
            </div>
        {{/each}}
    </div>
</template>