<template name="scatter2d">
    <div id={{plotType}} class="container-fluid" style="display:{{displayScatter2d}};">
        <span style="font-size:large; font-weight: bold;">{{title}}&nbsp;&nbsp;</span>
        {{#each scatter2dParams}}
            {{#if isNumberSpinner this}}
                <input class="data-input input-sm" id="{{idParam}}" type="number" value="{{default}}" name="{{name this}}" min="{{min}}" max="{{max}}" step="{{step}}"/>
                <label for="{{idParam}}">{{labelParam}}</label>
            {{else}}
                <h4>{{name this}}
                {{#if hasHelp}}
                    <button style="background-color:#bbffbb" type="button"  class="btn btn-default  btn-xs  help fa fa-question"></button>
                {{/if}}
                </h4>
                {{#each scatter2dOptions}}
                    <input class="data-input {{className ..}}" type={{type ..}} name="{{name ..}}" id="{{idOption ..}}" value="{{this}}" {{isDefault ..}}/>
                    <label for="{{idParam ..}}">{{label this ..}}</label>
                {{/each}}
            {{/if}}
            {{#if isAxis this}}
                <div class="btn-toolbar btn-group btn-xs" role="toolbar">
                    <button type="submit" name="apply-params-to-axis" id="apply-params-to-axis" class="btn btn-success apply-params-to-axis fa fa-line-chart">&nbsp;&nbsp;Apply to {{axis ..}}</button>
                    <button style="background-color:#bbffbb" type="button"  class="btn btn-default  btn-xs  axishelp fa fa-question"></button>
                </div>
                <div>
                    <span id="xaxis-curve" style="color:red" class="fa fa-asterisk">XAXIS NOT YET APPLIED</span>
                    <span>&nbsp;</span>
                    <span id="yaxis-curve" style="color:red" class="fa fa-asterisk">YAXIS NOT YET APPLIED</span>
                </div>
            {{/if}}
        {{/each}}
    </div>
</template>