<template name="scatter2d">
    <div id={{plotType}} class="container-fluid" style="display:{{displayScatter2d}};">
        <span style="font-size:large; font-weight: bold;">{{title}}&nbsp;&nbsp;</span>
        {{#each scatter2dParams}}
            {{#if isNumberSpinner this}}
                <input class="data-input input-sm" id="{{idParam}}" type="number" value="{{default}}" name="{{name this}}" min="{{min}}" max="{{max}}" step="{{step}}"/>
                <label for="{{idParam}}">{{labelParam}}</label>
            {{else}}
                <h4>{{name this}}</h4>
                {{#each scatter2dOptions}}
                    <input class="data-input {{className ..}}" type={{type ..}} name="{{name ..}}" id="{{idOption ..}}" value="{{this}}" {{isDefault ..}}/>
                    <label for="{{idParam ..}}">{{label this ..}}</label>
                {{/each}}
            {{/if}}
            {{#if isAxis this}}
                <div class="btn-toolbar btn-group btn-xs" role="toolbar">
                    <button type="submit" name="apply-params-to-axis" id="apply-params-to-axis" class="btn btn-success apply-params-to-axis fa fa-line-chart">&nbsp;&nbsp;Apply to {{axis ..}}</button>
                    <button type="button" name="scatter-help" id="scatter-help" class="btn btn-info scatter-help fa fa-question">&nbsp;&nbsp;Scatter Help</button>
                </div>
                <div>
                    <span id="xaxis-curve" style="color:red" class="fa fa-asterisk">XAXIS NOT YET APPLIED</span>
                    <span>&nbsp;</span>
                    <span id="yaxis-curve" style="color:red" class="fa fa-asterisk">YAXIS NOT YET APPLIED</span>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <div id="scatterHelpModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Scatter Help</h4>
                </div>
                    <div class="modal-body">
                        <div id="matshelp">
                            <h2>Best Fit curves</h2>
                            <h3>Best Fit curves are derived by regression.js algorithms. Regression is a javascript library courtesy of Tom Alexander <a href="https://github.com/Tom-Alexander/regression-js" target="_blank">Regression JS</a></h3>
                            <p>regression.js is a javascript library containing a collection of least squares fitting methods for finding a trend in a set of data. It currently contains methods for linear, exponential, logarithmic, power and polynomial trends.(Polynomial currently excluded)</p>
                            <h1 style="margin: 0.0px 0.0px 14.9px 0.0px; line-height: 22.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke-color: #000000;"><strong>Usage</strong></h1>
                            <p>Most regressions require only two parameters - the regression method (linear, exponential, logarithmic, power or polynomial) and a data source. A third parameter can be used to define the degree of a polynomial when a polynomial regression is required.</p>
                            <p>regression.js will return an object containing an equation array and a points array.</p>
                            <h2 style="margin: 0.0px 0.0px 14.9px 0.0px; line-height: 22.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke-color: #000000;"><strong>Linear regression</strong></h2>
                            <p>equation: [gradient, y-intercept] in the form y = mx + c</p>
                            <p class="p4">var data = [[0,1],[32, 67] .... [12, 79]];</p>
                            <p class="p4">var result = regression('linear', data);</p>
                            <h2 style="margin: 0.0px 0.0px 14.9px 0.0px; line-height: 22.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke-color: #000000;"><strong>Linear regression through the origin</strong></h2>
                            <p>equation: [gradient] in the form y = mx</p>
                            <p class="p4">var data = [[0,1],[32, 67] .... [12, 79]];</p>
                            <p class="p4">var result = regression('linearThroughOrigin', data);</p>
                            <h2 style="margin: 0.0px 0.0px 14.9px 0.0px; line-height: 22.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke-color: #000000;"><strong>Exponential regression</strong></h2>
                            <p>equation: [a, b] in the form y = ae^bx</p>
                            <h2 style="margin: 0.0px 0.0px 14.9px 0.0px; line-height: 22.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke-color: #000000;"><strong>Logarithmic regression</strong></h2>
                            <p>equation: [a, b] in the form y = a + b ln x</p>
                            <h2 style="margin: 0.0px 0.0px 14.9px 0.0px; line-height: 22.0px; font: 18.0px Times; color: #000000; -webkit-text-stroke-color: #000000;"><strong>Power law regression</strong></h2>
                            <p>equation: [a, b] in the form y = ax^b</p>
                        </div>
                        <div class="modal-footer btn-group">
                            <button name="closeScatterHelp" type="button" class="close-scatter-help btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Close</button>
                        </div>
                    </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</template>