<template name="underConstruction">
    <div id="underConstruction" name="underConstruction">
        <p>
            This app is under construction....
        </p>
        <div>
            <div>
                <img src="img/tornado.jpg" alt="Building..." height="15%" width="15%">
                <img src="img/buildings.png" alt="Building..." height="5%" width="5%">
                <img src="img/cloud.jpg" alt="Building..." height="15%" width="15%">
            </div>
        </div>
    </div>
</template>