# Tooling artifacts
**/.git
**/.github
**/.fleet
**/.idea
**/.vscode

# Meteor artifacts
**/bundle
**/.npm
**/.meteor/local
**/node_modules

# MATS artifacts
**/*.md
container_deployment
home
kubernetes
METexpress
scripts
server_configuration_files
**/tests
build.sh
RELEASE.txt

# Development files
**/tmp*
cache*
logs