apps/*/node_modules
apps/*/.idea
apps/*/.meteor/local
apps/*/settings
appProductionStatus/*/node_modules
appProductionStatus/*/.idea
appProductionStatus/*/.meteor/local
appProductionStatus/*/settings
home/*/node_modules
home/*/.idea
home/*/.meteor/local
home/*/settings
tests/node_modules
tests/logs
node_modules
.idea
.DS_Store
logs
__pycache__
venv
.history
.vscode
*.swp
tmp
bundle*
