# Node & Meteor
.meteor/local
node_modules

# Python
__pycache__
venv
*.pyc

# IDEs
.idea
.vscode

# OS-specific
.DS_Store
.history

# Project-specific
logs
settings
*.swp
tmp
bundle*
.env*
settings.json

