# Tooling artifacts
**/.git
**/.github
**/.idea
**/.vscode
**/.fleet
.gitignore

# Home app
docs/
.golangci.yml
Dockerfile
docker-compose.yml
**/*.md
LICENSE
home
main
coverage.out
settings.json

# Development files
**/tmp*
