<template name="About">
    <div class="modal modal-dialog fade" id="modal-display-about"  role="dialog"
         aria-labelledby="displayAboutDialog" aria-hidden="true" style="background-color: cornflowerblue">
        <div class="modal-dialog">
            <div class="modal-content"><i class="fa fa-4x fa-question" style="color:cornflowerblue"></i>
                <h1 class="modal-title" style="text-align: center; color: red;">About MATS</h1>
                <div class="modal-body">
                    <h2>MATS - Model Analysis Tool Suite</h2>
                    <h2>Version:</h2>
                    {{{version}}}
                    <h2>Release Notes:</h2>
                    <p>{{releaseNotes}}</p>
                </div>
                <div class="modal-footer btn-group">
                    <button data-dismiss="modal" class="clear-info btn btn-success btn-xs"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
