<template name="About">
    <div class="modal modal-dialog fade" id="modal-display-about"  role="dialog"
         aria-labelledby="displayAboutDialog" aria-hidden="true" style="background-color: cornflowerblue">
        <div class="modal-dialog">
            <div class="modal-content"><i class="fa fa-4x fa-question" style="color:cornflowerblue"></i>
                <h2 class="modal-title" style="text-align: center; color: red;">About MATS</h2>
                <div class="modal-body">
                    <h2 style="color:cornflowerblue">
                        <p>Lots of fun things about MATS and GSD will go here.</p>
                        <p>Possibly more information will also go here.</p>
                    </h2>
                </div>
                <div class="modal-footer btn-group">
                    <button data-dismiss="modal" class="clear-info btn btn-success btn-xs"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear</button>
                </div>
            </div>
        </div>
    </div>
</template>
