<template name="About">
    <div class="modal fade" id="modal-display-about" role="dialog"
         aria-labelledby="displayAboutDialog" aria-hidden="true">
        <div class="modal-dialog" style="background-color: cornflowerblue; overflow-y: initial">
            <div class="modal-content"><i class="fa fa-2x fa-question" style="color:cornflowerblue"></i>
                <div class="modal-header">
                    <div>
                        <h2 class="modal-title" style="text-align: center; color: red;">About</h2>
                    </div>
                    <div>
                        <h3 style="text-align:center">Model Analysis Tool Suite (MATS)</h3>
                        {{{version}}}
                    </div>
                </div>
                <div class="modal-body" style="height:30%">
                    <div id="releaseNotes" style="display:none; overflow-y: auto">
                        <h3>RELEASE NOTES</h3>
                        {{{releaseNotes}}}
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button class="clear-info btn btn-success btn-xs show-release-notes">
                        <i class="fa fa-file-alt"></i>&nbsp;&nbsp;Show Release Notes
                    </button>
                    <button class="clear-info btn btn-success btn-xs hide-release-notes">
                        <i class="fa fa-file-excel"></i>&nbsp;&nbsp;Hide Release Notes
                    </button>
                    <button data-dismiss="modal" class="clear-info btn btn-success btn-xs"><i class="fa fa-eraser">
                        </i>&nbsp;&nbsp;Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
