<template name="footer" xmlns="http://www.w3.org/1999/html">
<nav id="footnav" class="navbar navbar-default" style="display: block;">
    <div class="container-fluid" style="background-color: #dddddd;height:100%;margin-bottom:0;margin-top:0;padding-bottom:1em;padding-top:0;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="row" style="background-color: #dddddd;height:100%;margin-bottom:0;margin-top:0;padding-bottom:1em;padding-top:0;">
            <span class="col-md-2">{{>version}}</span>
            <span><a href="http://www.noaa.gov/privacy.html" class="navbar-link">NOAA Privacy Statement</a> - </span>
            <span><a href="http://esrl.noaa.gov/gsd/accessibility.html" class="navbar-link">Web Accessibility Statement</a> - </span>
            <span><a href="http://www.noaa.gov/disclaimer.html" class="navbar-link">Disclaimer for External Links</a> - </span>
            <span><a href="http://www.noaa.gov/" class="navbar-link">NOAA</a> - </span>
            {{#if isMetexpress}}
                <span><a href="http://www.commerce.gov/" class="navbar-link">U.S. Department of Commerce</a></span>
            {{else}}
                <span><a href="http://www.commerce.gov/" class="navbar-link">U.S. Department of Commerce</a> - </span>
                <span><a href="http://research.noaa.gov/" class="navbar-link">NOAA Research</a></span>
            {{/if}}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</template>

