<template name="Home">
    <div id='main'  class="main container-fluid">
        {{>topNav}}
        {{>administration}}
        {{>spinner}}
        {{>help}}
        {{>data}}
        {{>plotType}}
        {{>error}}
        {{>info}}
        <div id="scatterView">
            {{>scatter2d}}
        </div>
        <div id="paramView">
            {{>paramList}}
        </div>
        <div id="plotView">
            {{>plotList}}
        </div>
        {{>curveList}}
        {{>graph}}
    </div>
    {{>footer}}
</template>
