<template name="administration">
    <div id="adminContainer" style="display:none;" {{adminChanged}}>
    <div id="administration" class="container-fluid pull-right" style="height:100%;margin-top:0; padding: 0;">
        <span style="background-color: lightgreen;font-size: small;color: black; ">{{signedIn}}</span>
        <div class="btn-toolbar btn-group btn-xs" role="toolbar">
            <button style="color: black;background-color:lightgreen;display:{{showAdministratorDiv}}" type="button" name="authorization" id="authorization" class="authorization btn btn-success btn-xs fa fa-users">&nbsp;&nbsp;Authorization</button>
            <button style="color: black;background-color:lightgreen;display:{{showAdministratorDiv}}" type="button" name="database" id="database" class="database btn btn-success  btn-xs fa fa-database">&nbsp;&nbsp;Database</button>
            <button style="color: black;background-color:lightgreen;display:{{showAdministratorDiv}}" type="button" name="credentials" id="credentials" class="credentials btn btn-success btn-xs fa fa-envelope-o">&nbsp;&nbsp;Email Credentials</button>
            <button style="color: black;background-color:lightgreen;display:{{showAdministratorDiv}}" type="button" name="curveParams" id="credentials" class="curveParams btn btn-success btn-xs fa fa-align-center">&nbsp;&nbsp;Curve Parameters</button>
            <button style="color: black;background-color:lightgreen;display:{{showAdministratorDiv}}" type="button" name="plotGraphFunctions" id="plotGraphFunctions" class="plotGraphFunctions btn btn-success btn-xs fa fa-align-center">&nbsp;&nbsp;Plot Graph Functions</button>
            <button style="color: black;background-color:lightgreen;display:{{showAdministratorDiv}}" type="button" name="export" id="export" class="export btn btn-success btn-xs fa fa-download">&nbsp;&nbsp;Export</button>
            <button style="color: black;background-color:lightgreen;display:{{showAdministratorDiv}}" type="button" name="import" id="import" class="import btn btn-success btn-xs fa fa-upload">&nbsp;&nbsp;Import</button>
        </div>
        <div>
        <div class="pull-right btn-toolbar btn-group btn-xs" role="toolbar">
            <button style="color: black;background-color:lightgreen;display:{{showAuthenticatedDiv}}" type="button" name="colors" id="colors" class="colors btn btn-success btn-xs fa fa-paint-brush">&nbsp;&nbsp;Colors</button>
            <button style="color: black;background-color:lightgreen;display:{{showAuthenticatedDiv}}" type="button" name="settings" id="settings" class="settings btn btn-success btn-xs fa fa-cogs">&nbsp;&nbsp;Settings</button>
            <button style="display:{{showResetNow}}" type="button" name="resetNow" id="resetNow" class="resetNow btn btn-danger btn-xs fa fa-exclamation">&nbsp;&nbsp;Reset Now</button>
        </div>
        </div>
        {{> authorization}}
        {{> mailCredentials}}
        {{> settings}}
        {{> colorScheme}}
        {{> databases}}
        {{> curveParams}}
        {{> plotGraphFunctions}}
        {{> export}}
        {{> import}}
        {{> reset}}
    </div>
    </div>
    <div id="showAdministration" ><button style="background-color:lightgreen;color:black;" class="adminControl btn btn-xs pull-right fa fa-gears"></button></div>
</template>