<template name="authorization" >
    <div id="authorizationModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                <div class="modal-header">
                    <h4>Authorization</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Apply new role ...</label>
                        <input id="userRoleName" class="data-input textInput user_role_name" type="text" required placeholder="Enter a new role name" name="new_role_name"/>
                        <input id="userRoleDescription" class="data-input textInput user_role_description" type="text" required placeholder="Enter new role description" name="new_role_description"/>
                    </div>
                    <div>
                        <label>Apply existing role...</label>
                        <select class="data-input role-select" size="5" name="authorization_role" id="authorizationRole">
                            {{#each roleOptions}}
                                <option value="{{name}}">{{name}} - {{description}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div>
                        <label>Apply to unauthorized user email ...</label>
                        <input id="newUserEmail" class="data-input textInput user-email" type="email" required placeholder="Enter a valid email address" name="apply_role_to_new"/>
                    </div>
                    <div>
                        <label>Apply to previously authorized email...</label>
                        <select class="data-input user-select" size="5" name="apply_role_to" id="existingUserEmail">
                            {{#each emailOptions}}
                                <option value="{{email}}">{{email}}:{{roles}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="modal-footer btn-group">
                        <button name="cancelAuthorization" type="button" class="cancel-authorization btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                        <button name="applyAuthorization" type="button" class="apply_authorization btn btn-primary">&nbsp;&nbsp;Apply</button>
                        <button name="removeAuthorization" type="button" class="remove_authorization btn btn-primary">&nbsp;&nbsp;Remove Selected</button>
                    </div>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>