<template name="colorScheme">
    <style id="jsbin-css">
        #apstMoleculeModal .form-group {
            padding-right: 20px;
            position: relative;
        }

        #apstMoleculeModal .help {
            position: absolute;
            right: -8px;
            top: 12px;
        }
    </style>
    <div id="colorSchemeModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Color Scheme</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="csForm" novalidate>
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>new</label>
                            </div>
                            <div class="controls col-xs-2">
                                <div class="input-group colorSchemePicker" col-xs-2>
                                <span class="input-group-addon"><input id="colorSchemePicker" type=text
                                                                       class="colorpicker-component colorSchemePicker"
                                                                       value="rgb(255,255,255)"
                                                                       style="background:transparent;background-color:rgb(255,255,255);"/>
                                <i id="colorSchemePickerIndicator"
                                   style="background-color: rgb(255,255,255);"></i></span>
                                </div>
                            </div>
                            <div class="controls col-xs-2">
                                <script>
                                    $(function () {
                                        $('.colorSchemePicker').colorpicker();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>insert after</label>
                            </div>
                            <div class="controls col-xs-2">
                                <select class="data-input insert-after-color" size="5" name="insert_after_color"
                                        id="insertAfterColor">
                                    {{#each colorOptions}}
                                        <option value="{{color}}" style="color:{{color}};">{{color}}></option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>Remove</label>
                            </div>
                            <div class="controls col-xs-2">
                                <select class="data-input remove-color" size="5" name="remove_color" id="removeColor">
                                    {{#each colorOptions}}
                                        <option value="{{color}}" style="color:{{color}};">{{color}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer btn-group">
                            <button name="cancelColorScheme" type="button" class="cancel-color-scheme btn btn-info"
                                    data-dismiss="modal">&nbsp;&nbsp;Cancel
                            </button>
                            <button name="applyColorScheme" type="button" class="apply-color-scheme btn btn-primary">
                                &nbsp;&nbsp;Apply
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>