<template name="curveParams">
    <style id="jsbin-css">
        #apstMoleculeModal .form-group {
            padding-right: 20px;
            position: relative;
        }

        #apstMoleculeModal .help {
            position: absolute;
            right: -8px;
            top: 12px;
        }
    </style>
    <div id="curveParamsModal" class="modal wide-modal" role="dialog">
        <div class="modal-dialog"  style="width:80%;">
            <div class="modal-content container-fluid">
                <div class="modal-header">
                    <h4 class="modal-title">Curve Parameters</h4>
                </div>
                <div class="modal-body container-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="controls col-xs-1" style="min-width:6em">
                                    <label>Parameter</label>
                                </div>
                                <div class="controls col-xs-1">
                                    <button type="button" id="curveParams-selection-add" class="curveParams-selection-add btn btn-xs btn-success fa fa-plus"></button>
                                    <button type="button" id="curveParams-selection-remove" class="curveParams-selection-remove btn btn-xs btn-danger fa fa-minus"></button>
                                </div>
                                <div class="controls col-xs-8">
                                    <select class="curveParams-selection" size="5" name="curveParams-selection" id="curveParams-selection">
                                      {{#each curveParams}}
                                          <option value="{{name}}">{{name}}</option>
                                      {{/each}}
                                    </select>
                                </div>


                            </div>

                          {{#if errorTypeIs ''}}
                              <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                          {{/if}}

                          {{#if errorTypeIs 'name'}}
                              <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                          {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2">
                                    <label>Name</label>
                                </div>
                                <div class="controls col-xs-2" style="min-width:12em;">
                                    <input id="curveParams-name" data-field="name" class="form-control data-input textInput name" type="text"  placeholder="name" name="name"/>
                                </div>
                            </div>
                          {{#if errorTypeIs 'type'}}
                              <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                          {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2">
                                    <label>Type</label>
                                </div>
                                <div class="controls col-xs-4">
                                    <select class="data-value curveParamsType" size="5" data-field="type" id="curveParams-type">
                                      {{#each types}}
                                          <option value={{this}}>{{this}}</option>
                                      {{/each}}
                                    </select>
                                </div>
                            </div>

                            {{#if errorTypeIs 'options'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-1" style="min-width:8em;">
                                    <label>Options Map</label>
                                </div>
                                <div class="controls col-xs-1">
                                    <button type="button" id="curveParams-option-add" class="curveParams-option-add btn btn-xs btn-success fa fa-plus"></button>
                                    <button type="button" id="curveParams-option-remove" class="curveParams-option-remove btn btn-xs btn-danger fa fa-minus"></button>
                                </div>
                                <div class="controls col-xs-10">
                                    <table class="table table-condensed table-responsive table-bordered" id = "optionsTable">
                                        <tbody>
                                        {{{optionRows}}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            {{#if errorTypeIs 'controlButtonCovered'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2" style="min-width:12em;">
                                    <label>Control Button Covered</label>
                                </div>
                                <div class="controls col-xs-2">
                                        <input class="data-radio" type="radio" id="curveParams-controlButtonCovered-true" data-field="controlButtonCovered" name="controlButtonCovered" value="true" checked>True
                                        <input class="data-radio" type="radio" id="curveParams-controlButtonCovered-false" data-field="controlButtonCovered" name="controlButtonCovered" value="false">False
                                </div>
                            </div>


                            {{#if errorTypeIs 'unique'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2" style="min-width:12em;">
                                    <label>Ensure Uniqueness</label>
                                </div>
                                <div class="controls col-xs-2">
                                    <input class="data-radio" type="radio" id="curveParams-unique-true" data-field="unique" name="unique" value="true" checked>True
                                    <input class="data-radio" type="radio" id="curveParams-unique-false" data-field="unique" name="unique" value="false">False
                                </div>
                            </div>

                            {{#if errorTypeIs 'default'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2"  style="min-width:12em;">
                                    <label>Default Value</label>
                                </div>
                                <div class="controls col-xs-4">
                                    <input id="curveParams-default" data-field="default" class="form-control data-input textInput default" type="text"  placeholder="{{default}}"/>
                                </div>
                            </div>

                            {{#if errorTypeIs 'controlButtonVisibility'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2"  style="min-width:12em;">
                                    <label>Control Button Visibility</label>
                                </div>
                                <div class="controls col-xs-2">
                                    <input class="data-radio" type="radio" id="curveParams-controlButtonVisibility-block" data-field="curveParams-controlButtonVisibility" name="curveParams-controlButtonVisibility" value="block" checked>Visible
                                    <input class="data-radio" type="radio" id="curveParams-controlButtonVisibility-none" data-field="curveParams-controlButtonVisibility" name="curveParams-controlButtonVisibility" value="none">Hidden
                                </div>
                            </div>

                            {{#if errorTypeIs 'displayOrder'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2" style="min-width:12em;">
                                    <label>DisplayOrder</label>
                                </div>
                                <div class="controls col-xs-4">
                                    <input id="curveParams-displayOrder" data-field="displayOrder" class="form-control data-input textInput displayOrder" type="number"  placeholder="{{displayOrder}}" min="1" max="25" step="1"/>
                                </div>
                            </div>

                            {{#if errorTypeIs 'displayPriority'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2"  style="min-width:12em;">
                                    <label>displayPriority</label>
                                </div>
                                <div class="controls col-xs-4">
                                    <input id="curveParams-displayPriority" data-field="displayPriority" class="form-control data-input textInput displayPriority" type="number"  placeholder="{{displayPriority}}" min="1" max="10" step="1"/>
                                </div>
                            </div>

                            {{#if errorTypeIs 'displayGroup'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="form-group row">
                                <div class="controls col-xs-2" style="min-width:12em;">
                                    <label>displayGroup</label>
                                </div>
                                <div class="controls col-xs-4">
                                    <input id="curveParams-displayGroup" data-field="displayGroup" class="form-control data-input textInput displayGroup" type="number"  placeholder="{{displayGroup}}" min="1" max="10" step="1"/>
                                </div>
                                <div class="col-xs-9"></div>
                            </div>

                        </div>
                        <div id="applyCurveParamsModal" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Apply Curve Params</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label>Apply Comment...</label>
                                    </div>
                                    <div class="controls col-xs-4">
                                        <textarea id="applyCurveParamsComment" class="applyCurveParamsComment textInput"  value="Enter Comment" placeholder="Enter Comment"></textarea>
                                    </div>
                                    <div class="modal-footer btn-group">
                                        <button type="button" class="cancel-restore btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                                        <button name="applyCurveParamsWithComment"  class="applyCurveParamsWithComment btn btn-primary">&nbsp;&nbsp;Apply</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        <div id="restoreCurveParamsModal" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Restore Curve Params</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label>Restore from date...</label>
                                        <input style="font-size: x-small" type="text" class="restoreFromSeconds form-control" id="restoreFromSeconds" placeholder="choose from Restore From">
                                        <div class="dropdown">
                                            <button id="restore-choose-date-toggle" class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Choose Date (toggle user for comments)<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                {{#each restoreDates}}
                                                    <li>
                                                        <div class="btn-toolbar btn-group-xs" role="toolbar">
                                                        <button class="restoreCurveParamsDate btn  btn-primary"
                                                                data-date="{{date}}"
                                                                data-second="{{second}}"
                                                                data-user="{{userName}}"
                                                                data-comment="{{commentStr}}"
                                                                id="restoreCurveParamsDate-{{second}}">{{date}}</button>
                                                        {{{user}}}
                                                        {{{comment}}}
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer btn-group">
                                        <button type="button" class="cancel-restoreCurveParamsFromDate btn btn-info">&nbsp;&nbsp;Cancel</button>
                                        <button name="restoreCurveParamsFromDate"  class="restoreCurveParamsFromDate btn btn-primary">&nbsp;&nbsp;Restore From</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <div class="modal-footer btn-group">
                            <button name="cancelCurveParams" type="button" class="cancel-curveParams btn btn-info" data-dismiss="modal">Cancel</button>
                            <button name="applyCurveParams" type="button" class="applyCurveParams btn btn-primary">Apply</button>
                            <button name="restoreCurveParams" type="button" class="restoreCurveParams btn btn-primary">Restore Previous</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>