<template name="databases">
    <style id="jsbin-css">
        #apstMoleculeModal .form-group {
            padding-right: 20px;
            position: relative;
        }

        #apstMoleculeModal .help {
            position: absolute;
            right: -8px;
            top: 12px;
        }
    </style>
    <div id="databasesModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Databases</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="controls col-xs-2">
                                    <label>Database (or new)</label>
                                </div>
                                <div class="controls col-xs-2">
                                    <select class="database" size="5" name="database" id="database-selection">
                                        {{#each databases}}
                                            <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#if errorTypeIs ''}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}

                            {{#if errorTypeIs 'name'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Name</label>
                            </div>
                            <div class="controls col-xs-12">
                                    <input id="database-name" class="form-control data-input textInput name" type="text" required placeholder="name" name="name"/>
                            </div>

                            {{#if errorTypeIs 'role'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Role</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input type="radio" id="database-role-model" name="database-role" value="model" checked>Model
                                <input type="radio" id="database-role-ua" name="database-role" value="ua">Ua
                            </div>

                            <div class="controls col-xs-2">
                                <label>Status</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input type="radio" id="database-status-standby" name="database-status" value="standby" checked>Standby
                                <input type="radio" id="database-status-active" name="database-status" value="active">Active
                            </div>

                            {{#if errorTypeIs 'host'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Host</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="database-host" class="form-control data-input textInput databaseHost" type="text" required placeholder="host" name="database-host"/>
                            </div>

                            {{#if errorTypeIs 'database'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Database</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="database-database" class="form-control data-input textInput database" type="text" required placeholder="database" name="database"/>
                            </div>

                            {{#if errorTypeIs 'user'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>User</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="database-user" class="form-control data-input textInput database-user" type="text" required placeholder="user" name="database-user"/>
                            </div>

                            {{#if errorTypeIs 'password'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Password</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="database-password" class="form-control data-input textInput database-password" type="password" required placeholder="password" name="database-password"/>
                            </div>

                            <div class="controls col-xs-2">
                                <label>Verify Password</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="database-verify" class="form-control data-input textInput database-verify" type="password" required placeholder="verify password" name="database-verify"/>
                            </div>
                        </div>

                        <div class="modal-footer btn-group">
                            <button name="cancelDatabase" type="button" class="cancel-database btn btn-info"
                                    data-dismiss="modal">&nbsp;&nbsp;Cancel
                            </button>
                            <button name="applyDatabase" type="button" class="apply-database btn btn-primary">
                                &nbsp;&nbsp;Apply
                            </button>
                            <button name="removeDatabase" type="button" class="remove-database btn btn-primary">
                                &nbsp;&nbsp;Remove
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>