<template name="export" >
    <div id="exportModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Export</h4>
                </div>
                <form class="form-horizontal" name="epForm" novalidate>
                    <div class="modal-body">
                        <p style="color: red">
                            Choose what data you want to export. A separate file dialog for each selection will be generated.
                        </p>
                        <fieldset>
                            DataFiles
                            <ul>
                            {{#each dataFiles}}
                                <li><input type="checkbox" name="dataFiles" id="{{this}}" value="{{this}}"/>{{this}}</li>
                            {{/each}}
                            </ul>
                        </fieldset>
                        <fieldset>
                            GraphFiles
                            <ul>
                            {{#each graphFiles}}
                                <li><input type="checkbox" name="graphFiles" id="{{this}}" value="{{this}}"/>{{this}}</li>
                            {{/each}}
                            </ul>
                        </fieldset>
                        <fieldset>
                            Parameters
                            <ul>
                                <li><input type="checkbox" name="parameterFile" id="parameterFile" value="parameters"/>parameters</li>
                            </ul>
                        </fieldset>
                        <div class="modal-footer btn-group">
                            <button name="cancelExport" type="button" class="cancel-export btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="applyExport" type="button" class="apply_export btn btn-primary">&nbsp;&nbsp;Export</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>