<template name="plotGraphFunctions">
    <style id="jsbin-css">
        #apstMoleculeModal .form-group {
            padding-right: 20px;
            position: relative;
        }

        #apstMoleculeModal .help {
            position: absolute;
            right: -8px;
            top: 12px;
        }
    </style>
    <div id="plotGraphFunctionsModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">PlotGraphFunctions</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="pgForm" novalidate>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="controls col-xs-2">
                                    <label>Plot Graph</label>
                                </div>
                                <div class="controls col-xs-1">
                                    <button type="button" id="plotGraphFunction-selection-add" class="plotGraphFunction-selection-add btn btn-xs btn-success fa fa-plus"></button>
                                    <button type="button" id="plotGraphFunction-selection-remove" class="plotGraphFunction-selection-remove btn btn-xs btn-danger fa fa-minus"></button>
                                </div>

                                <div class="controls col-xs-2">
                                    <select class="plotGraphFunction" size="5" name="plotGraphFunction" id="plotGraphFunction-selection">
                                        {{#each plotGraphFunction}}
                                            <option value="{{plotType}}">{{plotType}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#if errorTypeIs ''}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}

                            {{#if errorTypeIs 'plotType'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Plot Type</label>
                            </div>
                            <div class="controls col-xs-12">
                                    <input id="plotType" class="form-control data-input textInput plotType" type="text" required placeholder="plotType" name="plotType"/>
                            </div>

                            {{#if errorTypeIs 'dataFunction'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Data Function</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="dataFunction" class="form-control data-input textInput dataFunction" type="text" required placeholder="dataFunction" name="dataFunction"/>
                            </div>

                            {{#if errorTypeIs 'graphFunction'}}
                                <div id="errorMessage" class ="errorMessage" style="color: red; display: none">{{errorMessage}}</div>
                            {{/if}}
                            <div class="controls col-xs-2">
                                <label>Graph Function</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="graphFunction" class="form-control data-input textInput graphFunction" type="text" required placeholder="graphFunction" name="graphFunction"/>
                            </div>

                        </div>

                        <div class="modal-footer btn-group">
                            <button name="cancelPlotgraphFunction" type="button" class="cancel-plotGraphFunction btn btn-info"
                                    data-dismiss="modal">&nbsp;&nbsp;Cancel
                            </button>
                            <button name="applyPlotGraphFunction" type="button" class="apply-plotGraphFunction btn btn-primary">
                                &nbsp;&nbsp;Apply
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>