<template name="reset" >
    <div id="resetModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reset</h4>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">
                        <p style="color: red">
                            This action will reset all of the administrative data to hard coded defaults.
                            You will lose any changes that were made with the administrative
                            interface or by changing the data externally.
                        </p>
                        <div class="modal-footer btn-group">
                            <button name="cancelReset" type="button" class="cancel-reset btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="applyReset" type="button" class="apply_reset btn btn-primary">&nbsp;&nbsp;Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>