<template name="settings" >
    <style id="jsbin-css">
        #apstMoleculeModal .form-group {
            padding-right:20px;
            position:relative;
        }

        #apstMoleculeModal .help {
            position:absolute;
            right:-8px;
            top:12px;
        }
    </style>
    <div id="settingsModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Settings</h4>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>LabelPrefix</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="LabelPrefix" class="form-control data-input textInput LabelPrefix" type="text" required placeholder="{{LabelPrefix}}" name="LabelPrefix"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>Title</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="Title" class="form-control data-input textInput Title" type="text" required placeholder="{{Title}}" name="Title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>LineWidth</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="LineWidth" class="form-control data-input textInput LineWidth" type="number" min="1" max="100" step=".5" required placeholder="{{LineWidth}}" name="LineWidth"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>NullFillString</label>
                            </div>
                            <div class="controls col-xs-12">
                                <input id="NullFillString" class="form-control data-input textInput NullFillString" type="text" required placeholder="{{NullFillString}}" name="NullFillString"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls col-xs-2">
                                <label>ResetFromCode<input type=checkbox id="ResetFromCode" class="data-input ResetFromCode" {{ResetFromCodeChecked}} name="ResetFromCode"/></label>
                            </div>
                        </div>
                        <div class="modal-footer btn-group">
                            <button name="cancelSettings" type="button" class="cancel-settings btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="applySettings" id="applySettings" type="button" class="apply_settings btn btn-primary">&nbsp;&nbsp;Apply</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>