<template name="curveList">
    <div id="curveList"  class="well-sm clearfix col-lg-12" style="display:{{displayCurves}};">
        {{#each curves}}
            {{> curveItem this}}
        {{/each}}
        <div class="clearfix btn-toolbar  well well-sm pull-left" role="toolbar">
            <button id='remove-all' class="remove-all btn btn-danger fa fa-times fa-sm">&nbsp;&nbsp;Remove All </button>
            <button type="button" name="save" id="save " class="save-settings btn btn-success fa fa-cloud-upload" style="display:{{displaySaveSettings}};">&nbsp;&nbsp;Save All Curve Settings</button>
            <button type="button" class="btn spacebutton" id="spacer"></button>
            <button type="button" name="plotUnMatched" id="plot"  class="plot-curves-unmatched btn btn-success  fa fa-area-chart" style="display:{{displayPlotUnMatched}};">&nbsp;&nbsp;Plot Unmatched</button>
            <button type="button" name="plotMatched" id="plot"  class="plot-curves-matched btn btn-success  fa fa-area-chart" style="display:{{displayPlotMatched}};" {{averagesdisabled}}>  Plot Matched</button>
            <div id="disabledPlots" style="display:{{disabledPlotsHidden}}"><span style="color: red;">Matched plotting is disabled because curve averages are disparate</span></div>
        </div>
    </div>
</template>