<template name="curveParamItemGroup">
    <div id="curveParamItemGroup">
        <div class="modal modal-dialog fade" id="confirm-lost-edits" tabindex="-1" role="dialog" aria-labelledby="confirmLostEdits" aria-hidden="true" style="background-color: cornflowerblue">
            <div class="modal-dialog">
                <div class="modal-content"><i class="fa fa-4x fa-question" style="color:cornflowerblue"></i>
                    <h2 class="modal-title" style="text-align: center; color: red;">Lose Edits?</h2>
                    <div class="modal-body">
                        <h3 style="color:cornflowerblue">
                            You were editing {{editCurve}} and clicked on controls for {{editTarget}}
                        </h3>
                        <h3 style="color:red">
                            Any changes to {{editCurve}} will be lost if you continue.
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button id="cancle-lose-edits" class="cancle-lose-edits btn btn-info" data-dismiss="modal">Cancel and keep editing {{editCurve}}</button>
                        <button id="continue-lose-edits" class="btn btn-warning continue-lose-edits" data-dismiss="modal">Edit {{editTarget}} and lose changes to {{editCurve}}</button>
                    </div>
                </div>
            </div>
        </div>

        {{#each curveParamGroups this}}
                <div class="btn-toolbar btn-toolbar-xs" role="toolbar">
                    {{#each curveParams this}}
                        <button type="button" class="displayBtn btn btn-sm btn-default" name="{{name this}}" id="{{buttonId this}}" style="margin:2px 2px 2px 2px;border:{{border this}};border-radius:10px;display:{{displayParam this}}">
                            <span class="displayItemSpan" style="font-size:medium;" id="{{spanId this}}">{{label this}}: {{value this}}</span>
                        </button>
                    {{/each}}
                </div>
            {{/each}}
    </div>
</template>