<template name="curveList">
    <div class="modal modal-dialog fade" id="modal-confirm-remove-all" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveAll" aria-hidden="true" style="background-color: cornflowerblue">
        <div class="modal-dialog">
            <div class="modal-content"><i class="fa fa-4x fa-question" style="color:cornflowerblue"></i>
                <h2 class="modal-title" style="text-align: center; color: red;">Remove All Curves?</h2>
                <div class="modal-body">
                    <h4 style="color:cornflowerblue">
                        Are you sure you want to remove all the curves?
                    </h4>
                </div>
                <div class="modal-footer">
                    <button id="cancle-remove-all" class="cancle-remove-all btn btn-success" data-dismiss="modal">Cancel the Remove</button>
                    <button id="confirm-remove-all" class="btn btn-danger confirm-remove-all" data-dismiss="modal">Remove all the curves</button>
                </div>
            </div>
        </div>
    </div>

    <div id="curveList"  class="well-sm clearfix col-lg-12" style="display:{{displayCurves}};">
        {{#each curves}}
            {{> curveItem this}}
        {{/each}}
        <div class="clearfix btn-toolbar  well well-sm pull-left" role="toolbar">
            <button id='remove-all' class="remove-all btn btn-danger fa fa-times fa-sm">&nbsp;&nbsp;Remove All </button>
            <button type="button" name="save" id="save " class="save-settings btn btn-success fa fa-cloud-upload" style="display:{{displaySaveSettings}};">&nbsp;&nbsp;Save All Curve Settings</button>
            <button type="button" class="btn spacebutton" id="cl-spacer"></button>
            <button type="button" name="plotUnMatched" id="plotUnmatched"  class="plot-curves-unmatched btn btn-success  fa fa-area-chart" style="display:{{displayPlotUnMatched}};"  {{identicalContourDisabled}} {{mismatchContourDiffDisabled}} {{mismatchContourSigDisabled}}>&nbsp;&nbsp;Plot Unmatched</button>
            <button type="button" name="plotMatched" id="plotMatched"  class="plot-curves-matched btn btn-success  fa fa-area-chart" style="display:{{displayPlotMatched}};" {{averagesDisabled}} {{identicalContourDisabled}} {{mismatchContourDiffDisabled}} {{mismatchContourSigDisabled}}>  Plot Matched</button>
            <button type="button" class="btn spacebutton" id="cl-spacer"></button>
            <span><input id="noGapsCheck" class="no-gaps-check data-input checkboxInput" type="checkbox" value="" name="noGapsCheck" style="margin: 10px 0 0 0;"/>&nbsp;<b>Hide Gaps</b></span>
            <div id="metarMismatch" style="display:{{metarMismatchHidden}}"><span style="color: red; font-size: large;"><br/>CAUTION: Your curves do not all have the same truth dataset. Is this intentional?</span></div>
            <div id="disabledPlots" style="display:{{disabledPlotsHidden}}"><span style="color: red;"><br/>Matched plotting is disabled because curve averages are disparate</span></div>
            <div id="identicalContour" style="display:{{identicalContourHidden}}"><span style="color: red;">Making contour plots with the same parameter on both axes is not recommended</span></div>
            <div id="mismatchContour" style="display:{{mismatchContourDiffHidden}}"><span style="color: red;">The x-axis-parameter and y-axis-parameter must be consistent across both curves</span></div>
            <div id="mismatchSignificance" style="display:{{mismatchContourSigHidden}}"><span style="color: red;">The type of student's t-test overlay must be consistent across both curves</span></div>
        </div>
    </div>
</template>