<template name="select">
    <div>
        <div class="btn-group btn-group-xs table-bordered"  style="border: solid;border-width: thick;border-color: white;">
            {{#if isMultiple}}
                <button  type="button" class="btn btn-info btn-xs selectAll" id="{{name}}-{{type}}-all"> select all </button>
                <button  type="button" class="btn btn-warning btn-xs clearSelections" id="{{name}}-{{type}}-clear"> clear selections</button>
                <button  type="button" class="btn btn-success btn-xs doneSelecting" id="{{name}}-{{type}}-done"> done selecting</button>
            {{/if}}
            {{#if selectionIsOptional}}
                <button  type="button" class="btn btn-warning btn-xs doNotUse" id="{{name}}-{{type}}-unused"> do not use</button>
            {{/if}}
        </div>
    </div>
    <div>
        <select style="width:{{optionMaxLength}}em;" class="data-input {{name}}" size="10" name="{{name}}" id="{{name}}-{{type}}" {{multiple}}>
            <option initial>initial</option>
        </select>
    </div>
</template>