<template name="graph">
    {{!- graphContainer has a graphView and a textView}}
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <div id="graph-container" class="container-fluid pull-left" style="margin-top: 0.5em; padding-left: 5%; display:none;">
        <div id="graph-control" class="row">
            <span id="all-plot-buttons-grp" class="btn-group btn-group-sm">
                <button id="backButton" type="button" class="back btn btn-primary fa fa-long-arrow-left" style="border-radius: 5px;" data-toggle="tooltip" data-placement="top" title="return to parameters">&nbsp;&nbsp;<strong>Back</strong></button>
                <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                <button id="previewButton" type="button" class="preview btn btn-primary fa fa-print" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;" data-toggle="tooltip" data-placement="top" title="preview graph in separate window">&nbsp;&nbsp;<strong>Preview</strong></button>
                <button id="basisButton" type="button" class="basis btn btn-primary fa fa-info" data-toggle="tooltip" data-placement="top" title="view data details">&nbsp;&nbsp;<strong>Data Lineage</strong></button>
                <span id="text-page-button-group" class="btn-group btn-group-sm" style="display:none;">
                    <button id="exportButton" type="button" class="export btn btn-primary fa fa-floppy-o" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;" data-toggle="tooltip" data-placement="top" title="export current text data to csv file">&nbsp;&nbsp;<strong>Export</strong></button>
                    <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                    <button id="plotButton" type="button" class="plotButton btn btn-primary fa fa-line-chart" style="border-radius: 5px; display:block;" data-toggle="tooltip" data-placement="top" title="change to plot view">&nbsp;&nbsp;<strong>Plot</strong></button>
                    <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                    <button id="firstPageButton" type="button" class="firstPageButton btn btn-info fa fa-fast-backward" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px; display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="first page">&nbsp;&nbsp;<strong>First page</strong></button>
                    <button id="previousTenPageButton" type="button" class="previousTenPageButton btn btn-info fa fa-step-backward" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="previous 10 pages">&nbsp;&nbsp;<strong>Back 10 pages</strong></button>
                    <button id="previousPageButton" type="button" class="previousPageButton btn btn-info fa fa-chevron-left" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="previous page">&nbsp;&nbsp;<strong>Prev page</strong></button>
                    <button id="nextPageButton" type="button" class="nextPageButton btn btn-info fa fa-chevron-right" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="next page">&nbsp;&nbsp;<strong>Next page</strong></button>
                    <button id="nextTenPageButton" type="button" class="nextTenPageButton btn btn-info fa fa-step-forward" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="next 10 pages">&nbsp;&nbsp;<strong>Forward 10 pages</strong></button>
                    <button id="lastPageButton" type="button" class="lastPageButton btn btn-info fa fa-fast-forward" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="last page">&nbsp;&nbsp;<strong>Last page</strong></button>
                </span>
                <span id="plot-page-button-group" class="btn-group btn-group-sm" style="display:block;">
                    <span id="plot-control-button-group" class="btn-group btn-group-sm" style="display:block;">
                        {{#if isNotMap}}
                            <button id="axisLimitButton" type="button" class="axisLimitButton btn btn-primary fa fa-arrows" style="display:block;"  data-toggle="tooltip" data-placement="top" title="modify axis">&nbsp;&nbsp;<strong>Axes</strong></button>
                        {{/if}}
                        {{#if isProfile}}
                            <button id="axisYScale" type="button" class="axisYScale btn btn-primary fa fa-arrows" style="display:block;"  data-toggle="tooltip" data-placement="top" title="toggle linear/log Y axis">&nbsp;&nbsp;<strong>Y Linear/Log</strong></button>
                        {{/if}}
                        {{#if isThreshold}}
                            <button id="axisXSpace" type="button" class="axisXSpace btn btn-primary fa fa-arrows" style="display:block;"  data-toggle="tooltip" data-placement="top" title="toggle equi-spaced X axis">&nbsp;&nbsp;<strong>Equi-space X</strong></button>
                        {{/if}}
                        {{#if isContour}}
                            <button id="colorbarButton" type="button" class="colorbarButton btn btn-primary fa fa-paint-brush" style="display:block;"  data-toggle="tooltip" data-placement="top" title="modify colorbar">&nbsp;&nbsp;<strong>Colorbar</strong></button>
                        {{else}}
                            {{#if isNotMap}}
                                <button id="lineTypeButton" type="button" class="lineTypeButton btn btn-primary fa fa-bars" style="display:block;"  data-toggle="tooltip" data-placement="top" title="modify line/bar styles">&nbsp;&nbsp;<strong>Curve Styles</strong></button>
                                <button id="showHideButton" type="button" class="showHideButton btn btn-primary fa fa-eye-slash" style="display:block;"  data-toggle="tooltip" data-placement="top" title="show/hide curves/point">&nbsp;&nbsp;<strong>Show/Hide</strong></button>
                            {{/if}}
                        {{/if}}
                        <button id="legendTextButton" type="button" class="legendTextButton btn btn-primary fa fa-pencil" style="display:block;"  data-toggle="tooltip" data-placement="top" title="edit legend text">&nbsp;&nbsp;<strong>Edit Legend</strong></button>
                        {{#if isNotMap}}
                            <button id="replotZoomButton" type="button" class="replotZoomButton btn btn-primary fa fa-line-chart" style="display:{{displayReplotZoom}};"  data-toggle="tooltip" data-placement="top" title="replot graph to current zoom setting">&nbsp;&nbsp;<strong>Re-sample</strong></button>
                        {{/if}}
                        <button id="reCacheButton" type="button" class="reCacheButton btn btn-primary fa fa-line-chart" style="display:block;"  data-toggle="tooltip" data-placement="top" title="replot graph and refresh cache with new data">&nbsp;&nbsp;<strong>Re-cache</strong></button>
                    </span>
                    <button id="textButton" type="button" class="textButton btn btn-primary fa fa-file-text-o" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; display:block;" data-toggle="tooltip" data-placement="top" title="change to text view">&nbsp;&nbsp;<strong>Text</strong></button>
                    <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                </span>
                <span id="graph-touch-controls" class="btn-group btn-group-sm" role="group" aria-label="touchcontrol">
                    <button id="refresh-plot" type="button" class="btn btn-info fa fa-refresh" style="border-radius: 15px; background-color: #00badb;" data-toggle="tooltip" data-placement="top" title="reset plot to original (or last re-sample)"></button>
                </span>
                <span>
                    <div id="mv-controls" class="btn-group btn-group-xs" style="display:{{metApp}}" role="group" aria-label="touchcontrol">
                        <button type="button" id="mvloading" class="btn btn-xs btn-warning" style="display:{{mvLoading}}">mvbatch</button>
                        <span class="btn btn-xs btn-warning fas fa-spinner fa-pulse" style="display:{{mvLoading}}"></span>
                        {{#each mvFiles}}
                                <button type="button" id="{{this.name}}" class="btn btn-xs btn-info mvCtrlButton" style="display:{{mvDisabled}}">mv-{{this.name}}</button>
                        {{/each}}
                    </div>
                </span>
            </span>
        </div>
        <div id="sendModal" class="modal row" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Send To ?</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>Send Address ...</label>
                            <input id="sendAddress" class="send-address data-input textInput" type="text" name="send address"/>
                            <select class="data-input sentAddresses" size="5" name="sentAddresses" id="sentAddresses">
                                {{#each sentAddresses}}
                                    <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer btn-group">
                        <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                        <button name="send" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Send</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {{#if isNotMap}}
            <div id="axisLimitModal" class="modal container" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Select axis limits and labels: </h3>
                            <h4>* Only data from your original time range has been queried and is available to plot. </h4>
                        </div>
                        <div class="modal-body">
                            {{#each xAxis in xAxes}}
                                <div><br></div>
                                <div id="x{{xAxis.label}}AxisCustomControls" style="display:block;">
                                    <div class="row">
                                        <label class="col-sm-2">X{{xAxis}} label: </label>
                                        <input id="x{{xAxis}}AxisLabel" class="x{{xAxis}}-axis-label data-input textInput col-sm-3" type="text" value="{{xAxisTitle xAxis}}" name="x{{xAxis}}AxisLabel"/>
                                        <label class="col-sm-4">&nbsp;&nbsp;X{{xAxis}} label font size: </label>
                                        <input id="x{{xAxis}}AxisFont" class="x{{xAxis}}-axis-font data-input numberInput col-sm-2" type="number" value="{{xAxisTitleFont xAxis}}" name="x{{xAxis}}AxisFont"/>
                                    </div>
                                    <div id="xAxisControlsNumber" style="display:{{xAxisControlsNumberVisibility}};">
                                        <div class="row">
                                            <label class="col-sm-2">X{{xAxis}}_min: </label>
                                            <input id="x{{xAxis}}AxisMin" class="x{{xAxis}}-axis-min data-input numberInput col-sm-3" type="number" value="{{xAxisMin xAxis}}" name="x{{xAxis}}AxisMin"/>
                                            <label class="col-sm-4">&nbsp;&nbsp;X{{xAxis}} tick font size: </label>
                                            <input id="x{{xAxis}}TickFont" class="x{{xAxis}}-tick-font data-input numberInput col-sm-2" type="number" value="{{xAxisTickFont xAxis}}" name="x{{xAxis}}TickFont"/>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2">X{{xAxis}}_max: </label>
                                            <input id="x{{xAxis}}AxisMax" class="x{{xAxis}}-axis-max data-input numberInput col-sm-3" type="number" value="{{xAxisMax xAxis}}" name="x{{xAxis}}AxisMax"/>
                                        </div>
                                    </div>
                                    <div id="xAxisControlsText" style="display:{{xAxisControlsTextVisibility}};">
                                        <div class="row">
                                            <label class="col-sm-2">X{{xAxis}}_min: </label>
                                            <input id="x{{xAxis}}AxisMinText" class="x{{xAxis}}-axis-min data-input textInput col-sm-3" type="text" value="{{xAxisMin xAxis}}" name="x{{xAxis}}AxisMinText"/>
                                            <label class="col-sm-4">&nbsp;&nbsp;X{{xAxis}} tick font size: </label>
                                            <input id="x{{xAxis}}TickFontText" class="x{{xAxis}}-text-tick-font data-input numberInput col-sm-2" type="number" value="{{xAxisTickFont xAxis}}" name="x{{xAxis}}TextTickFont"/>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2">X{{xAxis}}_max: </label>
                                            <input id="x{{xAxis}}AxisMaxText" class="x{{xAxis}}-axis-max data-input textInput col-sm-3" type="text" value="{{xAxisMax xAxis}}" name="x{{xAxis}}AxisMaxText"/>
                                        </div>
                                        <div class="row">
                                            <span class="col-sm-8">&nbsp;&nbsp; (Enter dates in YYYY-MM-DD HH:MM format)</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            {{#each yAxis in yAxes}}
                                <div><br></div>
                                <div id="y{{yAxis.label}}AxisCustomControls" style="display:block;">
                                    <div class="row">
                                        <label class="col-sm-2">Y{{yAxis}} label: </label>
                                        <input id="y{{yAxis}}AxisLabel" class="y{{yAxis}}-axis-label data-input textInput col-sm-3" type="text" value="{{yAxisTitle yAxis}}" name="y{{yAxis}}AxisLabel"/>
                                        <label class="col-sm-4">&nbsp;&nbsp;Y{{yAxis}} label font size: </label>
                                        <input id="y{{yAxis}}AxisFont" class="y{{yAxis}}-axis-font data-input numberInput col-sm-2" type="number" value="{{yAxisTitleFont yAxis}}" name="y{{yAxis}}AxisFont"/>
                                    </div>
                                    <div id="yAxisControlsNumber" style="display:{{yAxisControlsNumberVisibility}};">
                                        <div class="row">
                                            <label class="col-sm-2">Y{{yAxis}}_min: </label>
                                            <input id="y{{yAxis}}AxisMin" class="y{{yAxis}}-axis-min data-input numberInput col-sm-3" type="number" value="{{yAxisMin yAxis}}" name="y{{yAxis}}AxisMin"/>
                                            <label class="col-sm-4">&nbsp;&nbsp;Y{{yAxis}} tick font size: </label>
                                            <input id="y{{yAxis}}TickFont" class="y{{yAxis}}-tick-font data-input numberInput col-sm-2" type="number" value="{{yAxisTickFont yAxis}}" name="y{{yAxis}}TickFont"/>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2">Y{{yAxis}}_max: </label>
                                            <input id="y{{yAxis}}AxisMax" class="y{{yAxis}}-axis-max data-input numberInput col-sm-3" type="number" value="{{yAxisMax yAxis}}" name="y{{yAxis}}AxisMax"/>
                                        </div>
                                    </div>
                                    <div id="yAxisControlsText" style="display:{{yAxisControlsTextVisibility}};">
                                        <div class="row">
                                            <label class="col-sm-2">Y{{yAxis}}_min: </label>
                                            <input id="y{{yAxis}}AxisMinText" class="y{{yAxis}}-axis-min data-input textInput col-sm-3" type="text" value="{{yAxisMin yAxis}}" name="y{{yAxis}}AxisMinText"/>
                                            <label class="col-sm-4">&nbsp;&nbsp;Y{{yAxis}} tick font size: </label>
                                            <input id="y{{yAxis}}TickFontText" class="y{{yAxis}}-text-tick-font data-input numberInput col-sm-2" type="number" value="{{yAxisTickFont yAxis}}" name="y{{yAxis}}TextTickFont"/>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2">Y{{yAxis}}_max: </label>
                                            <input id="y{{yAxis}}AxisMaxText" class="y{{yAxis}}-axis-max data-input textInput col-sm-3" type="text" value="{{yAxisMax yAxis}}" name="y{{yAxis}}AxisMaxText"/>
                                        </div>
                                        <div class="row">
                                            <span class="col-sm-8">&nbsp;&nbsp; (Enter dates in YYYY-MM-DD HH:MM format)</span>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="row">
                                <div><br></div>
                                <label class="col-sm-4">&nbsp;&nbsp;Legend font size: </label>
                                <input id="legendFontSize" class="legend-font-size data-input numberInput col-sm-2" type="number" value="{{legendFontSize}}" name="legendFontSize"/>
                            </div>
                            <div class="row">
                                <label class="col-sm-4">&nbsp;&nbsp;Legend font color: </label>
                                <input id="legendFontColor" type="text" class="col-sm-5 form-control legendFontColor-graphColorpick" value="rgb(0,0,0)" style="display:inline-block; width: 12em; font-size: small;"/>
                            </div>
                            <div class="row">
                                <div><br></div>
                                <label class="col-sm-4">&nbsp;&nbsp;Grid line weight: </label>
                                <input id="gridWeight" class="grid-weight data-input numberInput col-sm-2" type="number" value="{{gridWeight}}" name="gridWeight"/>
                            </div>
                            <div class="row">
                                <label class="col-sm-4">&nbsp;&nbsp;Grid line color: </label>
                                <input id="gridColor" type="text" class="col-sm-5 form-control gridColor-graphColorpick" value="rgb(238,238,238)" style="display:inline-block; width: 12em; font-size: small;"/>
                            </div>
                        </div>
                        <div class="modal-footer btn-group">
                            <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="axisSubmit" id="axisSubmit" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Submit
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        {{/if}}
        <div id="lineTypeModal" class="modal container" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Select line styles and markers: </h3>
                        <h4>* Leave a field blank to preserve its original value. </h4>
                    </div>
                    <div class="modal-body">
                        <div><br></div>
                        <div class="row">
                            <label class="col-sm-2">&nbsp;&nbsp;</label>
                            <label class="col-sm-2">Color</label>
                            {{#if isLinePlot}}
                                <label class="col-sm-2">Line Style</label>
                                <label class="col-sm-2">Line Weight</label>
                                <label class="col-sm-2">Marker Style</label>
                                <label class="col-sm-2">Marker Weight</label>
                            {{/if}}
                        </div>
                        {{#each curves}}
                            <div class="row">
                                <label class="col-sm-2">{{this.label}}: </label>
                                <input id="{{this.label}}LineColor" type="text" class="col-sm-2 form-control {{this.label}}-graphColorpick" value="{{this.color}}" style="display:inline-block; width: 8em; font-size: small;"/>
                                {{#if isLinePlot}}
                                    <select id="{{this.label}}LineStyle" class="{{this.label}}-line-style col-sm-2" style="font-size: small;">
                                        <option value="solid" selected="selected">Solid</option>
                                        <option value="dash">Dash</option>
                                        <option value="dot">Dot</option>
                                        <option value="dashdot">Dash-dot</option>
                                    </select>
                                    <input id="{{this.label}}LineWeight" class="{{this.label}}-line-weight data-input numberInput col-sm-2" type="number" value="2" name="{{this.label}}LineWeight" style="width: 6em; font-size: small;"/>
                                    <select id="{{this.label}}LineMarker" class="{{this.label}}-line-marker col-sm-2" style="font-size: small;">
                                        <option value="circle" selected="selected">Solid circle</option>
                                        <option value="circle-open">Open circle</option>
                                        <option value="square">Solid Square</option>
                                        <option value="square-open">Open Square</option>
                                        <option value="star-square">Concave Square</option>
                                        <option value="diamond-tall">Solid Diamond</option>
                                        <option value="diamond-tall-open">Open Diamond</option>
                                        <option value="star-diamond">Concave Diamond</option>
                                        <option value="star">Solid star</option>
                                        <option value="star-open">Open star</option>
                                        <option value="x">Solid X</option>
                                        <option value="x-open">Open X</option>
                                    </select>
                                    <input id="{{this.label}}MarkerWeight" class="{{this.label}}-marker-weight data-input numberInput col-sm-2" type="number" value="8" name="{{this.label}}MarkerWeight" style="width: 6em; font-size: small;"/>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer btn-group">
                        <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                        <button name="lineTypeSubmit" id="lineTypeSubmit" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Submit
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div id="showHideModal" class="modal container" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header">
                            <h3>Show/hide curve elements</h3>
                        </div>
                        {{#each curves}}
                            <div class="row">
                                <div><br></div>
                                <label class="col-sm-2">{{this.label}}: </label>
                                <span id="curve-text-buttons-grp-{{this.label}}" class="btn-group btn-group-xs">
                                    <input type="button" class="curveVisibility btn btn-primary"
                                           value="{{hideButtonText}}" id="{{this.label}}-curve-show-hide"
                                           style="border-radius: 5px; display:{{curveShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}">
                                    <input type="button" class="pointsVisibility btn btn-primary"
                                           value="{{pointsButtonText}}" id="{{this.label}}-curve-show-hide-points"
                                           style="border-radius: 5px; display:{{pointsShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}">
                                    <input type="button" class="errorBarVisibility btn btn-primary"
                                           value="{{errorBarButtonText}}" id="{{this.label}}-curve-show-hide-errorbars"
                                           style="border-radius: 5px; display:{{errorbarsShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}">
                                    <input type="button" class="barVisibility btn btn-primary"
                                           value="{{barChartButtonText}}" id="{{this.label}}-curve-show-hide-bars"
                                           style="border-radius: 5px; display:{{barsShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}">
                                    <input type="button" class="annotateVisibility btn btn-primary"
                                           value="{{annotateButtonText}}" id="{{this.label}}-curve-show-hide-annotate"
                                           style="border-radius: 5px; display:{{annotateShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}">
                                    <input type="button" class="legendVisibility btn btn-primary"
                                           value="{{legendButtonText}}" id="{{this.label}}-curve-show-hide-legend"
                                           style="border-radius: 5px; display:{{legendShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}">
                                </span>
                            </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer btn-group">
                        <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                        <button name="showHideSubmit" id="showHideSubmit" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Submit
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div id="legendTextModal" class="modal container" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Edit text for each curve's legend: </h3>
                        <h4>* Leave a field blank to preserve its original value. </h4>
                    </div>
                    <div class="modal-body">
                        <div><br></div>
                        {{#each curves}}
                            <div class="row">
                                <label class="col-sm-2">{{this.label}}: </label>
                                <input id="{{this.label}}LegendText" class="{{this.label}}-legend-text data-input textInput col-sm-6" type="text" value="{{curveText}}" name="{{this.label}}LegendText"/>
                            </div>
                        {{/each}}
                    </div>
                    <div class="modal-footer btn-group">
                        <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                        <button name="legendTextSubmit" id="legendTextSubmit" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Submit
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {{#if isContour}}
            <div id="colorbarModal" class="modal container" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Select colorbar limits and label: </h3>
                            <h4>* Leave a field blank to preserve its original value. </h4>
                            <h4>* Choose either a contour step OR a number of contours. If both are given, the number of contours will be used.</h4>
                        </div>
                        <div class="modal-body">
                            <div><br></div>
                            <div id="colorbarCustomControls" style="display:block;">
                                <div class="row">
                                    <label class="col-sm-5">Colorbar label: </label>
                                    <input id="colorbarLabel" class="colorbar-label data-input textInput col-sm-5" type="text" value="" name="colorbarLabel"/>
                                </div>
                                <div><br></div>
                                <div class="row">
                                    <label class="col-sm-5">Minimum contour value: </label>
                                    <input id="colorbarMin" class="colorbar-min data-input numberInput col-sm-5" type="number" value="" name="colorbarMin"/>
                                </div>
                                <div class="row">
                                    <label class="col-sm-5">Maximum contour value: </label>
                                    <input id="colorbarMax" class="colorbar-max data-input numberInput col-sm-5" type="number" value="" name="colorbarMax"/>
                                </div>
                                <div><br></div>
                                <div class="row">
                                    <label class="col-sm-5">Number of contours: </label>
                                    <input id="colorbarNumber" class="colorbar-number data-input numberInput col-sm-5" type="number" value="" name="colorbarNumber"/>
                                </div>
                                <div>OR</div>
                                <div class="row">
                                    <label class="col-sm-5">Contour value step: </label>
                                    <input id="colorbarStep" class="colorbar-step data-input numberInput col-sm-5" type="number" value="" name="colorbarStep"/>
                                </div>
                                <div><br></div>
                                <div class="row">
                                    <label class="col-sm-5">Reverse colormap: </label>
                                    <input id="colorbarReverse" class="colorbar-reverse data-input checkboxInput col-sm-5" type="checkbox" value="" name="colorbarReverse"/>
                                </div>
                                <div><br></div>
                                <div class="row">
                                    <label class="col-sm-5">Select colormap: </label>
                                    <select id="colormapSelect">
                                        <option value='RdBu'>RedBlue</option>
                                        <option value={{RdWhBuTriplet}}>RedWhiteBlue</option>
                                        <option value={{MPL_BrBGTriplet}}>Wet/Dry (No White)</option>
                                        <option value={{MPL_BrBWGTriplet}}>Wet/Dry (Center White)</option>
                                        <option value='Jet'>Jet</option>
                                        <option value='Portland'>Portland</option>
                                        <option value='Rainbow'>Rainbow</option>
                                        <option value='Blackbody'>Blackbody</option>
                                        <option value='Earth'>Earth</option>
                                        <option value='Electric'>Electric</option>
                                        <option value='Hot'>Hot</option>
                                        <option value='Picnic'>Picnic</option>
                                        <option value='Reds'>Reds</option>
                                        <option value='Greens'>Greens</option>
                                        <option value='Blues'>Blues</option>
                                        <option value='Greys'>Greys</option>
                                        <option value='Viridis'>Viridis</option>
                                        <option value='Cividis'>Cividis</option>
                                        <option value='Bluered'>BlueRed</option>
                                        <option value='YlGnBu'>YellowGreenBlue</option>
                                        <option value='YlOrRd'>YellowOrangeRed</option>
                                    </select>
                                </div>
                                <div id="sigDotContainer" style="display:block">
                                    <div><br></div>
                                    <div class="row">
                                        <label class="col-sm-5">Significance dot color: </label>
                                        <input id="sigDotColor" type="text" class="col-sm-5 form-control sigDot-graphColorpick" value="rgb(0,0,0)" style="display:inline-block; width: 8em; font-size: small;"/>
                                    </div>
                                </div>
                                <div><br></div>
                                <div class="row">
                                    <label class="col-sm-5">Interpolate over nulls: </label>
                                    <input id="nullSmooth" class="null-smooth data-input checkboxInput col-sm-5" type="checkbox" value="" name="nullSmooth"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer btn-group">
                            <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="colorbarSubmit" id="colorbarSubmit" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Submit
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        {{/if}}
        <div id="header" class="row">
            <span>
                <h4 class="col-8">
                    <span>{{Title}} : </span><span>{{plotText}}</span><span> {{plotName}}</span>
                    <button class="btn btn-xs col-2 btn-danger closeapp">Close All Preview Windows</button>
                    <span class="col-2 pull-right"> </span>
                </h4>
            </span>
            <span style="display: none">{{graphFunction}}</span>
        </div>
        <div id="curves" class="row">
            {{#each curves}}
                <span id="legendContainer{{this.label}}" class="col-sm-12" style="font-size:smaller;"></span>
                <input type="button" class="heatMapVisibility btn btn-primary"
                       value="{{heatMapButtonText}}" id="{{this.label}}-curve-show-hide-heatmap"
                       style="border-radius: 5px; display:{{heatMapShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}">
            {{/each}}
        </div>
        <div id="textView" style="display:none;">
            {{>textOutput}}
        </div>
        <div id="graphView" style="height:100%;margin:0;padding:0;" class="row">
            <div id="placeholder" class="row" name="placeholder" style="float:left;width:{{width}}; height:{{height}};">
                {{! This is where plotly will place the graph - there is nothing here when the page loads}}
            </div>
            <br>
        </div>
        <h5 class="row text-center" id="confidenceNote" style="font-size:large;display:{{confidenceDisplay}};">Error
            Bars show 95% confidence</h5>
    </div>
</template>