<template name="graph">
    {{!- graphContainer has a graphView and a textView}}
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <div id="graph-container" class="container-fluid pull-left" style="padding-left: 5%; display:none;">
        <div id="header" class="row">
            <span>
                <h4 class="col-8">
                    {{Title}}  :  {{plotText}} {{plotName}}
                    <button class="btn btn-xs col-2 btn-danger closeapp">Close All Preview Windows</button>
                    <span class="col-2 pull-right"> </span>
                </h4>
            </span>
            <span style="display: none">{{graphFunction}}</span>
        </div>
        <div id="graph-control" class="row">
            <span id="all-plot-buttons-grp" class="btn-group btn-group-sm">
                <button id="backButton" type="button" class="back btn btn-primary fa fa-long-arrow-left" style="border-radius: 5px;" data-toggle="tooltip" data-placement="top" title="return to parameters">&nbsp;&nbsp;<strong>Back</strong></button>
                <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                <button id="previewButton" type="button" class="preview btn btn-primary fa fa-print" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;" data-toggle="tooltip" data-placement="top" title="preview graph in separate window">&nbsp;&nbsp;<strong>Preview</strong></button>
                <button id="basisButton" type="button" class="basis btn btn-primary fa fa-info" data-toggle="tooltip" data-placement="top" title="view data details">&nbsp;&nbsp;<strong>Data Lineage</strong></button>
                <span id="text-page-button-group" class="btn-group btn-group-sm" style="display:none;">
                    <button id="exportButton" type="button" class="export btn btn-primary fa fa-floppy-o" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;" data-toggle="tooltip" data-placement="top" title="export current text data to csv file">&nbsp;&nbsp;<strong>Export</strong></button>
                    <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                    <button id="plotButton" type="button" class="plotButton btn btn-primary fa fa-line-chart" style="border-radius: 5px; display:block;" data-toggle="tooltip" data-placement="top" title="change to plot view">&nbsp;&nbsp;<strong>Plot</strong></button>
                    <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                    <button id="firstPageButton" type="button" class="firstPageButton btn btn-info fa fa-fast-backward" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px; display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="first page">&nbsp;&nbsp;<strong>First page</strong></button>
                    <button id="previousTenPageButton" type="button" class="previousTenPageButton btn btn-info fa fa-step-backward" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="previous 10 pages">&nbsp;&nbsp;<strong>Back 10 pages</strong></button>
                    <button id="previousPageButton" type="button" class="previousPageButton btn btn-info fa fa-chevron-left" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="previous page">&nbsp;&nbsp;<strong>Prev page</strong></button>
                    <button id="nextPageButton" type="button" class="nextPageButton btn btn-info fa fa-chevron-right" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="next page">&nbsp;&nbsp;<strong>Next page</strong></button>
                    <button id="nextTenPageButton" type="button" class="nextTenPageButton btn btn-info fa fa-step-forward" style="display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="next 10 pages">&nbsp;&nbsp;<strong>Forward 10 pages</strong></button>
                    <button id="lastPageButton" type="button" class="lastPageButton btn btn-info fa fa-fast-forward" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; display:block;background-color: #003399;" data-toggle="tooltip" data-placement="top" title="last page">&nbsp;&nbsp;<strong>Last page</strong></button>
                </span>
                <span id="plot-page-button-group" class="btn-group btn-group-sm" style="display:block;">
                    <span id="plot-control-button-group" class="btn-group btn-group-sm" style="display:block;">
                        <button id="axisLimitButton" type="button" class="axisLimitButton btn btn-primary fa fa-arrows" style="display:block;"  data-toggle="tooltip" data-placement="top" title="modify axis">&nbsp;&nbsp;<strong>Axes</strong></button>
                        {{#if isProfile}}
                            <button id="axisYScale" type="button" class="axisYScale btn btn-primary fa fa-arrows" style="display:block;"  data-toggle="tooltip" data-placement="top" title="toggle linear/log Y axis">&nbsp;&nbsp;<strong>Y Scale</strong></button>
                        {{/if}}
                        <button id="replotZoomButton" type="button" class="replotZoomButton btn btn-primary fa fa-line-chart" style="display:{{displayReplotZoom}};"  data-toggle="tooltip" data-placement="top" title="replot graph to current zoom setting">&nbsp;&nbsp;<strong>Re-sample</strong></button>
                        <button id="reCacheButton" type="button" class="reCacheButton btn btn-primary fa fa-line-chart" style="display:block;"  data-toggle="tooltip" data-placement="top" title="replot graph and refresh cache with new data">&nbsp;&nbsp;<strong>Re-cache</strong></button>
                    </span>
                    <button id="textButton" type="button" class="textButton btn btn-primary fa fa-file-text-o" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; display:block;" data-toggle="tooltip" data-placement="top" title="change to text view">&nbsp;&nbsp;<strong>Text</strong></button>
                    <button id="gc-spacer" type="button" class="btn spacebutton"></button>
                </span>
                <span id="graph-touch-controls" class="btn-group btn-group-sm" role="group" aria-label="touchcontrol">
                    <button id="refresh-plot" type="button" class="btn btn-info fa fa-refresh" style="border-radius: 15px; background-color: #00badb;" data-toggle="tooltip" data-placement="top" title="reset plot to original (or last re-sample)"></button>
                </span>
            </span>
        </div>
        <div id="sendModal" class="modal row" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Send To ?</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>Send Address ...</label>
                            <input id="sendAddress" class="send-address data-input textInput" type="text" name="send address"/>
                            <select class="data-input sentAddresses" size="5" name="sentAddresses" id="sentAddresses">
                                {{#each sentAddresses}}
                                    <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer btn-group">
                        <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                        <button name="send" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Send</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {{#if isNotMap}}
            <div id="axisLimitModal" class="modal container" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Select axis limits and labels: </h3>
                            <h4>* Leave a field blank to preserve its original value. </h4>
                            <h4>* Only data from your original time range has been queried and is available to plot. </h4>
                        </div>
                        <div class="modal-body">
                            <div id="xAxisCustomControls" style="display:block;">
                                <div class="row">
                                    <label class="col-sm-2">X label: </label>
                                    <input id="xAxisLabel" class="y-axis-label data-input textInput col-sm-3" type="text" value="" name="xAxisLabel"/>
                                </div>
                                <div id="xAxisControlsNumber" style="display:{{xAxisControlsNumberVisibility}};">
                                    <div class="row">
                                        <label class="col-sm-2">X_min: </label>
                                        <input id="xAxisMin" class="x-axis-min data-input numberInput col-sm-3" type="number" value="" name="xAxisMin"/>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2">X_max: </label>
                                        <input id="xAxisMax" class="x-axis-max data-input numberInput col-sm-3" type="number" value="" name="xAxisMax"/>
                                    </div>
                                </div>
                                <div id="xAxisControlsText" style="display:{{xAxisControlsTextVisibility}};">
                                    <div class="row">
                                        <label class="col-sm-2">X_min: </label>
                                        <input id="xAxisMinText" class="x-axis-min data-input textInput col-sm-3" type="text" value="" name="xAxisMinText"/>
                                        <span class="col-sm-5">YYYY-MM-DD HH:MM format</span>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-2">X_max: </label>
                                        <input id="xAxisMaxText" class="x-axis-max data-input textInput col-sm-3" type="text" value="" name="xAxisMaxText"/>
                                        <span class="col-sm-5">YYYY-MM-DD HH:MM format</span>
                                    </div>
                                </div>
                            </div>
                            {{#each yAxis in yAxes}}
                                <div><br></div>
                                <div id="y{{yAxis.label}}AxisCustomControls" style="display:block;">
                                    <div class="row">
                                        <label class="col-sm-2">Y{{yAxis}} label: </label>
                                        <input id="y{{yAxis}}AxisLabel" class="y{{yAxis}}-axis-label data-input textInput col-sm-3" type="text" value="" name="y{{yAxis}}AxisLabel"/>
                                    </div>
                                    <div id="yAxisControlsNumber" style="display:block;">
                                        <div class="row">
                                            <label class="col-sm-2">Y{{yAxis}}_min: </label>
                                            <input id="y{{yAxis}}AxisMin" class="y{{yAxis}}-axis-min data-input numberInput col-sm-3" type="number" value="" name="y{{yAxis}}AxisMin"/>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2">Y{{yAxis}}_max: </label>
                                            <input id="y{{yAxis}}AxisMax" class="y{{yAxis}}-axis-max data-input numberInput col-sm-3" type="number" value="" name="y{{yAxis}}AxisMax"/>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <div class="modal-footer btn-group">
                            <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="axisSubmit" id="axisSubmit" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Submit
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        {{/if}}
        <div id="curves" class="row">
            {{#each curves}}
                <span style="color:{{color}};">--- </span><span style="font-size:small;">{{curveText}}</span>
                <div id="curve-text-buttons-grp-{{this.label}}" class="btn-group btn-group-xs">
                    <input type="button" class="curveVisibility btn btn-primary"
                           value="{{hideButtonText}}" id="{{this.label}}-curve-show-hide"
                           style="border-radius: 5px; display:{{curveShowHideDisplay}}; background-color: {{this.color}}">
                    <input type="button" class="pointsVisibility btn btn-primary" value="{{pointsButtonText}}"
                           id="{{this.label}}-curve-show-hide-points"
                           style="border-radius: 5px; display:{{pointsShowHideDisplay}}; background-color: {{this.color}}">
                    <input type="button" class="errorBarVisibility btn btn-primary"
                           value="{{errorBarButtonText}}" id="{{this.label}}-curve-show-hide-errorbars"
                           style="border-radius: 5px; display:{{errorbarsShowHideDisplay}}; background-color: {{this.color}}">
                    <input type="button" class="barVisibility btn btn-primary"
                           value="{{barChartButtonText}}" id="{{this.label}}-curve-show-hide-bars"
                           style="border-radius: 5px; display:{{barsShowHideDisplay}}; background-color: {{this.color}}">
                    <input type="button" class="annotateVisibility btn btn-primary"
                           value="{{annotateButtonText}}" id="{{this.label}}-curve-show-hide-annotate"
                           style="border-radius: 5px; display:{{annotateShowHideDisplay}}; background-color: {{this.color}}">
                    <input type="button" class="heatMapVisibility btn btn-primary"
                           value="{{heatMapButtonText}}" id="{{this.label}}-curve-show-hide-heatmap"
                           style="border-radius: 5px; display:{{heatMapShowHideDisplay}}; background-color: {{this.color}}">
                </div>
                <br>
            {{/each}}
            <hr/>
        </div>
        <div id="textView" style="display:none;">
            {{>textOutput}}
        </div>
        <div id="graphView" style="height:100%;margin:0;padding:0;" class="row">
            <div id="legendContainer" name="legendContainer"></div>
            <div id="placeholder" class="row" name="placeholder" style="float:left;width:{{width}}; height:{{height}};">
                {{! This is where plotly will place the graph - there is nothing here when the page loads}}
            </div>
        </div>
        <h5 class="row text-center" id="confidenceNote" style="font-size:large;display:{{confidenceDisplay}};">Error
            Bars show 95% confidence</h5>
    </div>
</template>