<template name="graph">
    <div id="graph-container" class="container pull-left" style="padding-left: 5%; display:none;">
        <div id="header" class="row container">
            <h4>{{Title}}  :  {{plotText}} {{plotName}}</h4>
        </div>
        <div id="graph-control" class="row container-fluid">
            <div id="plot-buttons-grp" class="btn-group btn-group-sm">
                <button type="button" class="back btn btn-primary fa fa-long-arrow-left">&nbsp;Back</button>
                <button type="button" class="btn spacebutton" id="gc-spacer"></button>
                <button type="button" class="export btn btn-primary fa fa-floppy-o">&nbsp;Export</button>
                <button type="button" class="preview btn btn-primary fa fa-eye">&nbsp;Preview</button>
                <button type="button" class="publish btn btn-primary fa fa-print">&nbsp;Publish</button>
                <button id="textButton" type="button" class="textButton btn btn-primary fa fa-file-text-o" style="display:block;">&nbsp;Text</button>
                <button id="plotButton" type="button" class="plotButton btn btn-primary fa fa-line-chart" style="display:none;">&nbsp;Plot</button>
                <button type="button" class="basis btn btn-primary fa fa-info">&nbsp;Data Lineage</button>
                <button id="axisLimitButton" type="button" class="axisLimitButton btn btn-primary fa fa-arrows" style="display:block;">&nbsp;Axes</button>
                <button type="button" class="btn spacebutton" id="gc1-spacer"></button>
                <span id="graph-touch-controls">
                    <button type="button" class="btn btn-success btn-sm fa fa-arrow-left fa-lg" id="pan-left" style="background-color: #00badb;"></button>
                    <button type="button" class="btn btn-success btn-sm fa fa-arrow-up fa-lg" id="pan-up" style="background-color: #00badb;"></button>
                    <button type="button" class="btn btn-success btn-sm fa fa-arrow-down fa-lg" id="pan-down" style="background-color: #00badb;"></button>
                    <button type="button" class="btn btn-success btn-sm fa fa-arrow-right fa-lg" id="pan-right" style="background-color: #00badb;"></button>
                    <button type="button" class="btn btn-success btn-sm fa fa-refresh fa-lg" id="refresh-plot" style="background-color: #00badb;"></button>
                    <button type="button" class="btn btn-success btn-sm" id="zoom-in"><span class="fa fa-expand fa-lg"></span>&nbsp;&nbsp;<span class="fa fa-plus fa-sm"></span></button>
                    <button type="button" class="btn btn-success btn-sm" id="zoom-out"><span class="fa fa-expand fa-lg"></span>&nbsp;&nbsp;<span class="fa fa-minus fa-sm"></span></button>
                    <button type="button" class="btn btn-success btn-sm" id="zoom-in-left-right"><span class="fa fa-arrows-h fa-lg"></span>&nbsp;&nbsp;<span class="fa fa-plus fa-sm"></span></button>
                    <button type="button" class="btn btn-success btn-sm" id="zoom-out-left-right"><span class="fa fa-arrows-h fa-lg"></span>&nbsp;&nbsp;<span class="fa fa-minus fa-sm"></span></button>
                    <button type="button" class="btn btn-success btn-sm" id="zoom-in-up-down"><span class="fa fa-arrows-v fa-lg"></span>&nbsp;&nbsp;<span class="fa fa-plus fa-sm"></span></button>
                    <button type="button" class="btn btn-success btn-sm" id="zoom-out-up-down"><span class="fa fa-arrows-v fa-lg"></span>&nbsp;&nbsp;<span class="fa fa-minus fa-sm"></span></button>
                </span>
            </div>
            <div id="sendModal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Send To ?</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label>Send Address ...</label>
                                <input id="sendAddress" class="send-address data-input textInput" type="text" name="send address"/>
                                <select class="data-input sentAddresses" size="5" name="sentAddresses" id="sentAddresses">
                                    {{#each sentAddresses}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer btn-group">
                            <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="send" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Send</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div id="axisLimitModal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Select axis limits and labels: </h3>
                            <h4>* Leave a field blank to preserve its original value. </h4>
                            <h4>* Only data from your original time range has been queried and is available to plot. </h4>
                            <h4>* When plotting a timeseries, give x_min and x_max in epoch seconds. </h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label>X label: </label>
                                <input id="xAxisLabel" class="y-axis-label data-input textInput" type="text" value="" name="xAxisLabel"/>
                            </div>
                            <div>
                                <label>X_min: </label>
                                <input id="xAxisMin" class="x-axis-min data-input numberInput" type="number" value="" name="xAxisMin"/>
                            </div>
                            <div>
                                <label>X_max: </label>
                                <input id="xAxisMax" class="x-axis-max data-input numberInput" type="number" value="" name="xAxisMax"/>
                            </div>
                            <div><br></div>
                            <div>
                                <label>Y label: </label>
                                <input id="yAxisLabel" class="y-axis-label data-input textInput" type="text" value="" name="yAxisLabel"/>
                            </div>
                            <div>
                                <label>Y_min: </label>
                                <input id="yAxisMin" class="y-axis-min data-input numberInput" type="number" value="" name="yAxisMin"/>
                            </div>
                            <div>
                                <label>Y_max: </label>
                                <input id="yAxisMax" class="y-axis-max data-input numberInput" type="number" value="" name="yAxisMax"/>
                            </div>
                        </div>
                        <div class="modal-footer btn-group">
                            <button type="button" class="cancel-send btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="axisSubmit" id="axisSubmit" type="submit" class="send btn btn-primary">&nbsp;&nbsp;Submit
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <div id="curves" class="row container-fluid">
            {{#each curves}}
                <span style="color:{{color}};">--- </span><span style="font-size:small;">{{curveText}}</span>
                <div id="curve-text-buttons-grp-{{this.label}}" class="btn-group btn-xs">
                    <input type="button" class="curveVisibility btn btn-primary btn-xs"
                           value="{{hideButtonText}}" id="{{this.label}}-curve-show-hide"
                           style="display:block;background-color: {{this.color}}">
                    <input type="button" class="points btn btn-primary btn-xs" value="{{pointsButtonText}}"
                           id="{{this.label}}-curve-show-hide-points"
                           style="display:block;background-color: {{this.color}}">
                    <input type="button" class="errorBars btn btn-primary btn-xs"
                           value="{{errorBarButtonText}}" id="{{this.label}}-curve-errorbars"
                           style="display:block;background-color: {{this.color}}">
                    <input type="button" class="barVisibility btn btn-primary btn-xs"
                           value="{{barChartButtonText}}" id="{{this.label}}-curve-show-hide-bar"
                           style="display:block;background-color: {{this.color}}">
                </div>
                <br>
            {{/each}}
            <hr/>
        </div>
        <div id="textSeriesView" style="display:none;">
            {{>textSeriesOutput}}
        </div>
        <div id="textProfileView" style="display:none;">
            {{>textProfileOutput}}
        </div>
        <div id="textDieOffView" style="display:none;">
            {{>textDieOffOutput}}
        </div>
        <div id="textThresholdView" style="display:none;">
            {{>textThresholdOutput}}
        </div>
        <div id="textValidTimeView" style="display:none;">
            {{>textValidTimeOutput}}
        </div>
        <div id="textDailyModelCycleView" style="display:none;">
            {{>textDailyModelCycleOutput}}
        </div>
        <div id="textMapView" style="display:none;">
            {{>textMapOutput}}
        </div>
        <div id="textHistogramView" style="display:none;">
            {{>textHistogramOutput}}
        </div>
        <div id="textScatter2dView" style="display:none;">
            {{>textScatter2dOutput}}
        </div>
        {{#if isMap}}
            <div id="graphView" style="height:100%;margin:0;padding:0;" class="row container-fluid">
                <div id="placeholder" class="row" name="placeholder"
                     style="float:left;width:{{width}}; height:{{height}};"></div>
            </div>
        {{else}}
            <div id="graphView" style="height:100%;margin:0;padding:0;" class="row container-fluid">
                <div id="legendContainer" name="legendContainer"></div>
                <div id="placeholder" class="row" name="placeholder"
                     style="float:left;width:{{width}}; height:{{height}};"></div>
            </div>
        {{/if}}
        {{#if isProfile}}
            <h5 class="row text-center" id="confidenceNote" style="font-size:large;display:{{confidenceDisplay}};">Error
                Bars show 95% confidence</h5>
        {{/if}}
    </div>
</template>