<template name="textOutput" xmlns="http://www.w3.org/1999/html">
    <div id="textOutput" class="container">
        <button id="text_export" type="button" class="export" style="display:none">Export</button>
        <br/>
        {{#each curves}}
            <h5>{{curveText}}</h5>
        {{/each}}
        {{#if notScatter}}
            <table id="textStatsTable" class="table table-condensed table-striped table-bordered">
                <thead>
                <tr>
                    {{{statHeaders}}}
                </tr>
                </thead>
                <tbody>
                {{#each curves}}
                    <tr>
                        {{{stats this}}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}
        {{#each curves}}
            <table id="textElementsTable" class="table table-condensed table-bordered table-striped table-hover table-sm">
                <thead class="thead-inverse">
                <tr>
                    {{{elementHeaders this}}}
                </tr>
                </thead>
                <tbody>
                {{#each elements this}}
                    <tr>
                        {{{elementHtml this}}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/each}}
    </div>
</template>