<template name="textScatter2dOutput" xmlns="http://www.w3.org/1999/html">
    <div id="textScatter2dOutput" class="container">
        <button id="text_export" type="button" class="export" style="display:none">Export</button>
        <br/>
            {{#each curves}}
                <h5>{{curveText}}</h5>
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>xaxis</th>
                        <th>yaxis</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each dataRows this}}
                            <tr>
                                {{{points .. this}}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/each}}
    </div>
</template>