<template name="textProfileOutput" xmlns="http://www.w3.org/1999/html">
    <div id="textProfileOutput" class="container">
        <button id="text_export" type="button" class="export" style="display:none">Export</button>
        <br/>
        {{#each curves}}
            <h5>{{curveText}}</h5>
        {{/each}}
        <div>
            {{#each curves}}
                <div>
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>mean</th>
                                <th>std err</th>
                                <th>n</th>
                                <th>stde_betsy</th>
                                <th>lag1</th>
                                <th>min</th>
                                <th>max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{mean this}}</td>
                                <td>{{stderr this}}</td>
                                <td>{{numberOf this}}</td>
                                <td>{{stde_betsy this}}</td>
                                <td>{{lag1 this}}</td>
                                <td>{{min this}}</td>
                                <td>{{max this}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>{{curveLabel this}} level</th>
                                <th>stat</th>
                                <th>std error</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each pressureLevels this}}
                            <tr>
                                {{{points this}}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/each}}
        </div>
    </div>
</template>