<template name="textProfileOutput" xmlns="http://www.w3.org/1999/html">
    <div id="textProfileOutput" class="container">
        <button id="text_export" type="button" class="export" style="display:none">Export</button>
        <br/>
        {{#each curves}}
            <h5>{{curveText}}</h5>
        {{/each}}
        <table class="table table-condensed table-striped table-bordered">
            <thead>
            <tr>
                <th>level</th>
                {{#each curves}}
                    <th>{{curveLabel this}}</th>
                {{/each}}
            </tr>
            </thead>
            <tbody>
            {{#each pressureLevels}}
                <tr>
                    {{{points this}}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>