<template name="item">
    <div id="{{name}}-item" class="item btn-group"  role="group" style="display:{{display}}">
        <button type="button" class="control-button btn btn-primary fa fa-hand-o-up" id="{{controlButton}}" style="display:{{controlButtonVisibility}}"> {{name}}</button>
        <div id="{{element}}" style="display:{{elementHidden}}" >
            {{#if isSelect}}
                {{> select this}}
            {{else}} {{#if isSpinner}}
                {{>numberSpinner this}}
            {{else}} {{#if isInput}}
                {{> textInput this}}
            {{else}} {{#if isDateRange}}
                {{> dateRange this}}
            {{else}} {{#if isCheckBoxGroup}}
                {{name}}:
                {{#each options}}
                    {{> checkboxGroup this}}
                {{/each}}
            {{else}} {{#if isRadioGroup}}
                {{name}}:
                {{#each options}}
                    {{> radioGroup this}}
                {{/each}}
            {{else}} {{#if isSelectMap}}
                {{> map this}}
            {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
        </div>
        <button type="button" class="control-button btn btn-info fa fa-label" name="{{controlButton}}-value" id="{{controlButton}}-value" style="display:{{controlButtonVisibility}}"> {{value}}</button>
        {{#if hasHelp}}
            <button style="background-color:#bbffbb" type="button"  class="btn btn-default  btn-xs  help fa fa-question"></button>
        {{/if}}
        <button type="button" class="btn spacebutton" id="spacer"></button>
    </div>
</template>