<template name="select">
        <select class="data-input {{name}}" size="5" name="{{name}}" id="{{name}}-{{type}}" {{multiple}}>
            <option initial>initial</option>
        </select>
        {{#if isMultiple}}
            <div>
                <input class="selectAll" id="selectAll" data-name="{{name}}" data-selectId="{{name}}-{{type}}" name="selectall" type="checkbox"/>all/none
            </div>
        {{/if}}
        {{#if selectionIsOptional}}
            <div>
                <button type="button" class="selectClear btn btn-default  btn-xs" id="clearAll" data-name="{{name}}" data-selectId="{{name}}-{{type}}" name="clearall" >do not use {{name}}</button>
            </div>
        {{/if}}
</template>