<template name="info">
    <div id="info" name="infoModal" class="modal" role="dialog">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-smile-o"></i> Info:</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p style="color:cornflowerblue">{{{infoMessage}}}</p>
                    </div>
                    <div class="modal-footer btn-group">
                        <button class="clear-info btn btn-success btn-xs"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>