<template name="GraphStandAlone">
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <div id="graph-container" class="container-fluid pull-left" style="padding-left: 5%; display:{{graphFunctionDispay}};">
        <div id="header" class="row">
            <h4>{{Title}} : {{plotText}} {{plotName}}</h4>
        </div>
        <div id="gsaSpinner" name="gsaSpinner" style="display:block">
            <img src="../../../../img/spinner.gif" alt="Loading..." height="5%" width="5%"> <span style="color:red">Loading ...</span>
        </div>
        <div class="row form-inline previewCurveButtons">
            <span>
                <input class="input-sm col-sm-5" id="exportFileName" value="{{matsplotFilemname}}">
                <button class="btn btn-xs col-sm-3 pull-right btn-primary exportpdf" id="exportpdf">save pdf</button>
                <button class="btn btn-xs col-sm-3 pull-right btn-primary exportpng" id="exportpng">save png</button>
            </span>
        </div>
        <div id="curves" class="row">
            {{#each curves}}
                <span style="color:{{color}};">--- </span><span style="font-size:small;">{{curveText}}</span>
                <div id="curve-text-buttons-grp-{{this.label}}" class="btn-group btn-group-xs previewCurveButtons">
                    <input type="button" class="annotateVisibility btn btn-primary"
                           value="{{annotateButtonText}}" id="{{this.label}}-curve-show-hide-annotate"
                           style="border-radius: 5px; display:{{annotateShowHideDisplay}}; background-color: {{this.color}}">
                </div>
                <br>
            {{/each}}
            <hr/>
        </div>
        <div id="graphView" style="height:100%;margin:0;padding:0;" class="row">
            <div id="legendContainer" name="legendContainer"></div>
            <div id="placeholder" class="row" name="placeholder" style="float:left;width:{{width}}; height:{{height}};">
                {{! This is where plotly will place the graph - there is nothing here when the page loads}}
            </div>
            <span style="display: none">{{graphFunction}}</span>
        </div>
    </div>
</template>