<template name="scatter2d">
    <div class="well well-sm pull-left" id={{plotType}}  style="display:{{displayScatter2d}};">
        <div style="font-size:large; font-weight: bold;">{{title}}</div>
        <div>
            <span class="btn-success" style="font-size: large;display:{{creating}};">{{modeText}}</span>
            <span class="btn-info" style="font-size: large;display:{{editing}};">{{modeText}}</span>
        </div>
        {{#each scatter2dParams}}
            <div class="well well-sm pull-left">
                {{#if isNumberSpinner this}}
                    <input class="data-input input-sm" id="{{idParam}}" type="number" value="{{default}}" name="{{name this}}" min="{{min}}" max="{{max}}" step="{{step}}"/>
                    <label for="{{idParam}}">{{labelParam}}</label>
                {{else}}
                    <h4>{{name this}}
                    <small>{{#if hasHelp}}
                        <button style="background-color:#bbffbb" type="button"  class="btn btn-default  btn-xs  help fa fa-question"></button>
                    {{/if}} </small>
                    </h4>
                    {{#each scatter2dOptions}}
                        <input class="data-input {{className ..}}" type={{type ..}} name="{{name ..}}" id="{{idOption ..}}" value="{{this}}" {{isDefault ..}}/>
                        <label for="{{idParam ..}}">{{label this ..}}</label>
                    {{/each}}
                {{/if}}
                <div>
                    <div class="btn-toolbar btn-group btn-xs" role="toolbar">
                        <button type="submit" name="apply-params-to-X-axis" id="apply-params-to-xaxis" class="btn btn-success apply-params-to-xaxis fa fa-line-chart" ><span style="font-size: large">Apply params to X axis</span></button>
                    </div>
                    <div class="btn-toolbar btn-group btn-xs" role="toolbar">
                        <button type="submit" name="apply-params-to-Y-axis" id="apply-params-to-yaxis" class="btn btn-success apply-params-to-yaxis fa fa-line-chart" {{yApplyEnabled}}><span style="font-size: large">Apply params to Y axis</span></button>
                    </div>
                    <div>
                        <span id="xaxis-curve" style="color:{{xaxisCurveColor}}" class="fa {{curveIcon}}">{{xaxisCurveText}}</span>
                        <span>&nbsp;</span>
                        <span id="yaxis-curve" style="color:{{yaxisCurveColor}}" class="fa {{curveIcon}}">{{yaxisCurveText}}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>