<template name="error">
    <div id="error" name="errorModal" class="modal" role="dialog">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-frown-o"></i> Error:</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p style="color:red">{{{errorMessage}}}</p>
                    </div>
                    <div id="stack" style="display:none">
                        <p>{{{stackTrace}}}</p>
                        <button class="hide-stack btn btn-success btn-xs"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Hide Stack</button>
                    </div>
                    <div class="modal-footer btn-group">
                        <button class="show-stack btn btn-success btn-xs"><i class="fa fa-stack-exchange"></i>&nbsp;&nbsp;Stack?</button>
                        <button class="clear-error btn btn-success btn-xs"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>