<template name="data">
    <div id="dataModal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                {{> jsonView json=data options=options }}
            </div>
            <div class="modal-footer btn-group">
                <button type="button" class="close-help btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</template>