<template name="plotList">
    <div id="plotList" class=" row container pull-left">
        <div class = "well well-sm pull-left">
        <form id="plotForm">
            <div class="btn-toolbar btn-group" role="toolbar">
                {{#each PlotParamGroups}}
                    {{> plotParamGroup}}
                {{/each}}
            </div>
            <div id="saveModal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Save Settings</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label>Save Settings to new entry ...</label>
                                <input id="save_as" class="data-input textInput" type="text" name="save_as"/>
                                <input id="save-private" type="radio" name="save-public-private" value="private" {{privateDisabled}}/>Private
                                <input id="save-public" type="radio" name="save-public-private" value="public" checked/>Public
                            </div>
                            <div>
                                <label>Overwrite Settings to entry...</label>
                                <select class="data-input save-to" size="5" name="save_selector" id="save_to">
                                    {{#each privateRestoreNames}}
                                        <option>{{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer btn-group">
                            <button type="button" class="cancel-save btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="delete" type="button" class="delete-selected btn btn-primary">&nbsp;&nbsp;Delete Selected</button>
                            <button name="save" type="submit" class="submit-params btn btn-primary">&nbsp;&nbsp;Save Settings</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <div id="restoreModal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Restore Settings</h4>
                        </div>
                        <div class="modal-body">
                            <label>Restore Settings from private...</label>
                            <select class="data-input restore-from-private" size="5" name="restore_from_private" id="restore_from_private">
                                {{#each privateRestoreNames}}
                                    <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="modal-body">
                            <label>Restore Settings from public...</label>
                            <select class="data-input restore-from-public" size="5" name="restore_from_public" id="restore_from_public">
                                {{#each publicRestoreNames}}
                                    <option>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="modal-footer btn-group">
                            <button type="button" class="cancel-restore btn btn-info" data-dismiss="modal">&nbsp;&nbsp;Cancel</button>
                            <button name="restore" type="submit" class="submit-params btn btn-primary">&nbsp;&nbsp;Restore Settings</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <div id="plot-buttons" class="btn-group">
                <button type="submit" name="plot" id="plot-curves"  class="submit-params btn btn-success btn-xs fa fa-area-chart" style="display:none"></button>
                <button type="submit" name="save" id="save-settings" class="submit-params btn btn-success  btn-xs fa fa-cloud-upload" style="display:none"></button>
                <button type="submit" name="restore" id="restore-settings" class="submit-params btn btn-success  btn-xs fa fa-cloud-download" style="display:none"></button>
            </div>
        </form>
        </div>
    </div>
</template>