<template name="QCParamGroup">
    <div id="QCParamGroup" style="background-color:lightcyan;margin-top: 1.5em;float:left;">
        <label style="padding-left:1em;font-size:large;font-weight: normal;">QC parameters: </label>
        <span style="font-size:large;font-weight: normal;">
            <label style="padding-left:1em;font-size:large;font-weight: normal;">Data completeness percentage: </label>
            <input type="number" name="quantity" id="completeness" min="0" max="100" value="{{completenessNumber}}">
        </span>
        <span style="font-size:large;font-weight: normal;">
            <label style="padding-left:1em;font-size:large;font-weight: normal;">Stdev filter level: </label>
            {{#if noQC}}
                <select id="outliers">
                    <option value="all" selected="selected">All Data</option>
                    <option value=3>3 sd</option>
                    <option value=2>2 sd</option>
                    <option value=1>1 sd</option>
                </select>
            {{else}}
                <select id="outliers">
                    <option value="all">All Data</option>
                    <option value=3 selected="selected">3 sd</option>
                    <option value=2>2 sd</option>
                    <option value=1>1 sd</option>
                </select>
            {{/if}}
        </span>
    </div>
</template>